/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 ARTICLES - NODE
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

/*---------------------------------

 node container overrides 
 
----------------------------------*/

// contains menu-block, article title, submitted, tags, social sharing links
#article-header-row-container {
	padding: 0;
	border: 0;
}

// contains media
#article-middle-row1-container {
	border: 0;
}

// article body container
#article-middle-row2-container {
	overflow: hidden;
	padding-top: 0;
}

// row3 container is related content - narrow up

// mobile only - quotes and related album
#article-middle-row4-container {
	@include border-bottom($border-color);
	padding: $vert-spacing-unit 0;
}

// article pager container
#article-node-middle-row5-container {
	padding: $vert-spacing-unit/2;
}
#article-node-middle-row5-container .node-pager-container {
	padding: 0;
	border: 0;
	min-height: 30px;
}

/*--------------------------

 pager - default overrides
  
---------------------------*/

.node-type-article .node-pager-container {
	margin-bottom: 0;
}


/*--------------------------

 article title & author
 
---------------------------*/

#article-header-row-container h2.node__title {
	margin-bottom: $vert-spacing-unit/2;
	line-height: 1.2;
}

/*--------------------------------------------------------
 submitted info
 -- (may contain posted date only or also author full name)
----------------------------------------------------------*/

.node-type-article .node-article .submitted {
	font-style: italic;
	margin-bottom: 20px;
	display: block;
}


/*--------------------------

 article body 
 
---------------------------*/

.field--name-field-article-body {
	@include font-size(18px);
}



/*-------------------------------------

 ARTICLE GALLERY 
 
---------------------------------------*/

@incluce breakpoint($small-only) {
	#article-mobile-middle-row3-container .first-item,
	#article-mobile-middle-row3-container .not-first-item {
		margin-bottom: 15px;
	}
}
#article-photo-gallery-container {
	overflow: hidden;
	
	// videos
	.teaser-grid {
		padding-left: 0;	
		//height: 175px; /* set height on div toggle section */
	}
	.photo-row {
		height: auto;
		margin: 0 1.5% 1.5% 0;
		padding: 0;
		width: 18.5%;
	}
}

/*-------------------------------------------

 ARTICLE PULL QUOTE
 
--------------------------------------------*/

/*--------------------------------
 article pull quote - 
 block displays in mobile only 
--------------------------------*/

#article-pullquote { 
	margin-bottom: $vert-spacing-unit;
	padding-bottom: $vert-spacing-unit;
	@include border-bottom($border-color);
	
	.quote-start {
		float: left;
		@include font-size(80px);
		line-height: 0.75; /* 60px */
		margin-right: 5px;
		vertical-align: middle;
	}
	.quote-body {
		margin-left: 40px;
	}
	
	.quote-end {
		display: none;
	}
	.quote-author,
	.quote-url {
		@include font-size(13px);
		line-height: 1.4;
		font-style: italic;
		text-align: left;
	}
}


/*--------------------------------
 node sidebar - quotes
--------------------------------*/

.node-sidebar-container {
	float: right;
	padding: 0;
	width: auto;
	width: 35%;
	margin-bottom: $vert-spacing-unit;
	margin-left: $vert-spacing-unit;
	
	// override stupid field collection default styles
	.field-collection-view,
	.field-collection-container {
		padding: 0;
		margin: 0;
		border: 0;
	}

	.quote-item {
		text-align:left;
		margin-bottom: $vert-spacing-unit;
		position: relative;
	}
	
	// Quote icons
	.quote-start,
	.quote-end {
		@include font-size(112px);
		height: 50px;
		line-height: 1;
		display: inline-block;
		vertical-align: top;
	}
	.quote-start {
		position: relative;
		top: -10px;
	}
	.quote-end {
	    float: right;
	    position: relative;
	    top: -20px;
	}
	
	// Quote body
	.quote-body {
		@include font-size(20px);
		line-height: $title-line-height;
		padding: 0;
		margin-bottom: 10px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		font-family: $title-font-family;
		white-space: wrap;
	    width: 80%; // fallback
	    width: calc(100% - 50px);
	    
	    @include breakpoint($large-up) {
		    @include font-size(30px);
	    }
	}
	
	.quote-body p {
		margin-bottom: 0;
	}
	.field--name-field-article-quote-body {
		margin-bottom: $vert-spacing-unit;
	}
	
	
	// quote author and URL
	.field--name-field-article-quote-author,
	.field--name-field-article-quote-url {
		@include font-size(18px);
	}
	.quote-url {
		display: block;
	}
	
	// Edit quotes
	.field-collection-view {
		ul.field-collection-view-links {
			float: none;
			font-size: 0.821em;
			list-style-type: none;
			width: auto;
			padding: 10px 0;
			overflow: hidden;
			display: block;
			clear: both;
			margin: 0;
			
			li {
				float: left;
				list-style-type: none;
				border: 1px solid #000;
				text-align: center;
				margin-right: 5px;
				
				a {
					margin-right: 0;
					padding: 5px 10px;
					display: block;
				}
			}
		}
	}
	
	// Save quotes edit - link
	
	.field-collection-container ul.action-links {
		float: none;
		padding: 0;
		margin: 0;
		font-size: 0.821em;
	
		li {
			list-style-type: none;
		} 
	}
}

