/* waypoints_ui_demo.css */

.page-node #content {
    height: 1000px;
}
.node-page .field {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    height: 0;
    overflow: hidden
}
.node-page .field.waypoints-ui-visible {
    opacity: 1;
    $opacity-ie: $1 * 100;
    filter: alpha(opacity=1);
    height: auto;
    overflow: visible;
}
