//----------------------------------------------
//
//	ROW - LEFT COPY - NO Background image on row
//
//	location: 
//      /sass/components/rows/left-copy_right-img_no-bg-img.scss
//
//  Styles for row layout content:
// 
// 		= Copy on left (title, body, link) in col-1
//		= <img> on the right in col-2
// 		= ! NO ! background image on the row
//
//----------------------------------------------



.view-mode-left_non_bg_image_row,
.view-mode-non_bg_image_row {
	
	@include breakpoint($medium-up) {
		.col-1-wrapper {
			width: 50%;
			margin: 0;
		}
		.col-2-wrapper {
			margin: 0;
		    padding: 0 5%;
		    width: 50%;
		}
	}
}