//----------------------------------------------
//
//	location: 
//      /sass/components/rows/right-copy_right-img_no-bg-img.scss
//
//  Styles for row layout content:
// 
// 		= <img> on the left in col 1
//
//		= Copy on right (title, body, link) in col 2
//
// 		= ! NO ! background image on the row
//
//----------------------------------------------



.view-mode-right_non_bg_image_row {
	
	@include breakpoint($medium-up) {
		.col-1-wrapper {
		    margin: 0;
		    padding: 0 5%;
		    width: 50%;
		}
		.col-2-wrapper {
			width: 50%;
			margin: 0;
		}
	}
}