//----------------------------------------------
//
//	ROW - RIGHT COPY - YES Background image on row
//
//	location: 
//      /sass/components/rows/left-copy_bg-img.scss
//
//  Styles for row layout content:
// 
// 		= Copy on right (title, body, link) in col2
// 		= background image on the row
//
//----------------------------------------------


.view-mode-right_bg_image_row {
	@include breakpoint($medium-up) {
		.col-1-wrapper {
		    margin: 0;
		    width: 50%;
		    height: 30px; // arbitrary value to keep from collapsing when empty
		}
		.col-2-wrapper {
			margin: 0;
			width: 50%;
		}
	}
}