@mixin button {
	background: $button-bg-color; 
	text-align: center;
	color: $button-text-color;
	display: block;
	text-decoration: none;
	text-shadow: none;
	@include border-radius($border-radius);
	@include transition(all, 0.2s, ease-in);
	@include button-padding($button-padding);
}

@mixin button-hover {
	background: $button-bg-hover-color; 
	text-decoration: none;
	text-shadow: none;
	color: $button-text-hover-color;
}

@mixin button-padding($button-padding) {
	padding: $button-padding;
}