//------------------------------------------------------
//
//	MIXINS - LAYOUT 
//
//	location: 
//      /sass/abstractions/mixins-layout.scss
//
//------------------------------------------------------


// Clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
   }
  &:after {
    clear: both;
    font-size: 0;/* Clear Fix correction (add font-size to fix extra padding at bottom of site */
  }
}

.clearfix,
%clearfix {
	@include clearfix;
}


// Negate constrained styling on a container to make 100% width
@mixin unconstrained {
	width: 100%;
}




