/*******************************************************************************
 * masterchannel-home.layout.scss
 *
 * Styles for the Album Node layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";
@import "../../abstractions/**/*";



// Hide stuff on the home page as needed

.front .hidefront {
	display: none;
}


/*----------------------------------------------------------------
------------------------------------------------------------------

  SHARED STYLES - GENERAL
 
------------------------------------------------------------------
-----------------------------------------------------------------*/

// all home page slides
.slide {
	position: relative;
}

// padding for each major section
.front .l-custom {	
	
	.l-inner {
		@include breakpoint($small-and-medium){
			padding: 80px 0;
		}
		
		@include breakpoint($large-up){
			padding: 150px 0;
		}
	}
	// title text - override defaults
	.views-field-title h2,
	h2.block__title,
	.home-about-content h2 {
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
		
		@include breakpoint($small-and-medium){
			@include font-size(30px);
		}
		@include breakpoint($large-up){
			@include font-size(60px);
		}
	}
	
	.button {
		display: inline-block;
	}
}

// More Buttons

.views-field-view-node {
	text-align: center;
	margin-top: 60px;
	
	a {
		display: inline-block;
		padding: 10px;
		border: 2px solid $title-color;
		@include font-size(20px);
		color: $title-color;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: .2rem;
		
		@include breakpoint($large-up) {
			@include font-size(40px);
			padding: 20px 40px 15px;
		}
		
		&:hover {
			border-color: $primary-color;
			background-color: $primary-color;
			color: $button-text-hover-color;
			text-decoration: none;
		}
	}
}

// negate default content width
.front .l-constrained {
	width: 100%;
	margin: 0 auto;
}
.front .l-footer-wrapper .l-constrained {
    width: 95%;
}


/*----------------------------------------------------------------
------------------------------------------------------------------

	SECTION - Content 1 - HERO
 
------------------------------------------------------------------
-----------------------------------------------------------------*/


// top hero slide
.front .l-content-1 .l-inner {
	padding: 0;
}

@include breakpoint($small-and-medium) {
	.front .l-region--content-1 {
	    max-height: 550px !important;
	}
}

// hide logo
.front .l-branding {
	display: none;
}


/*-----------------------
	
	VIDEO
	
-------------------------*/

.front .l-video-wrapper {
	position: relative;
	z-index: 0;
	
	@include breakpoint($small-and-medium) {
		//height: 550px;
		//overflow: hidden;
		display: none;
	}
	@include breakpoint($large-up){
		-webkit-transition: top 0.3s linear;
		-moz-transition: top 0.3s linear;
		transition: top 0.3s linear;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 0;
	}
}

.front video {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	
	@include breakpoint($small-and-medium) {
		height: 550px;
	}
 }

// container for mobile nav toggle link
.l-top-wrapper {
	@include breakpoint($large-up) {
		display: none;
	}
}

// mobile bg image
.l-mobile-splash {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
	max-height: 550px;
	width: 100%;
	display: none; // kill for now
	
	img {
		height: auto;
		width: 100%;
	}
}



/*------------------------------------------------
	
	LOGO
	
-------------------------------------------------*/

.front a.site-branding__logo {
	
	@include breakpoint($medium-up) {
		position: absolute;
		top: 40px;
		left: 20px;
		z-index: 10;
		width: 120px;
		height: auto;
	}
	@include breakpoint($large-up){
		top: 30px;
		left: 50px;
		width: 200px;
	}
}

/*------------------------------------------------
	
	MAIN NAV
	
-------------------------------------------------*/

.front .l-content-1 nav {
	position: absolute;
	z-index: 10;
	top: 50px;
	right: 50px;
	
	@include breakpoint($small-only) {
		display: none;
	}
	@include breakpoint($medium-only) {
		right: 20px;
	}
}
.front .l-content-1 nav ul {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
		margin: 0 20px 0px 0;
		display: inline-block;
		
		@include breakpoint($medium-only) {
			margin-right: 10px;
			font-size: 14px;
		}
		
		&.last {
			margin-right: 0;
		}
	}
	a {
		color: $home-nav-text-color;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
		padding-bottom: 3px;
		
		&:hover {
			border-bottom: 3px solid #e87623;
			text-decoration: none;
			color: $home-nav-text-hover-color;
		
		}
	}
}

// hide main nav that appears in header
.front .l-region--header .block--menu {
	display: none;
}

/*-----------------------------------------------

	CONTENT_1  HERO IMAGE
 
-----------------------------------------------*/

.front .home-hero-content {
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 0;
	
	@include breakpoint($small-and-medium) {
		background: #dbeee5 url('../../../images/backgrounds/bg-video-mobile.jpg') no-repeat scroll center top;
		background-size: 100% auto;
		height: 550px;
	}
	@include breakpoint($large-up) {
		height: 100%;
	}
	
	&::after {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 1;
		content: "";
		
		@include breakpoint($small-and-medium) {
			background-color: rgba(13, 26, 29, 0.70);
			position: absolute;
			top: 0;
			left: 0;
		}
		@include breakpoint($large-up) {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(13, 26, 29, 0.20);
		}
	}
}


/*-----------------------------------------------

	CONTENT_1  Tagline
 
-----------------------------------------------*/

.home-tagline-container {
	text-align: center;
	text-shadow: 1px 1px 0 #000;
	margin: 0 auto;
	
	@include breakpoint($small-and-medium) {
		width: 85%;
		position: relative;
		z-index: 2;
		padding-top: 40px;
	}
	@include breakpoint($large-up) {
		width: 60%;
		position: absolute;
		z-index: 4;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	.home-tagline {
		overflow: hidden;
	}
	
	h1 {
		background: url(../../../images/edgenet-logo-lrg.png) no-repeat scroll right top;
		background-size: 100% auto;
		display: inline-block;
		padding: 0;
		border: 0;
		
		@include breakpoint($small-only) {
			width: 170px;
			height: 83px;
			margin: 0 auto 30px;
		}
		@include breakpoint($medium-only) {
			width: 220px;
			height: 110px;
			margin-bottom: 40px;
		}
		@include breakpoint($large-up) {
			margin-bottom: 30px;
			width: 300px;
			height: 146px;
		}
		
		span.hide {
			visibility: hidden;
		}
	}
	h2 {
		color: $image-text-title-color;
		line-height: 1;
		
		@include breakpoint($small-and-medium) {
			@include font-size(35px);
		}
		@include breakpoint($large-up) {
			@include font-size(55px);
		}
	}
	
	p {
		color: $image-text-body-color;
		@include font-size(16px);
		margin-bottom: 40px;
		line-height: 1.4;
		
		@include breakpoint($small-and-medium) {
			width: 70%;
			@include font-size(18px);
			margin: 0 auto 35px;
		}
		@include breakpoint($large-up) {
			@include font-size(28px);
		}
	}
	
	.slide-button a {
		padding: 10px;
		border: 2px solid #ccc;
		@include font-size(16px);
		color: $image-text-title-color;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: .2rem;
		display: inline-block;
				
		@include breakpoint($large-up) {
			@include font-size(40px);
			padding: 20px 40px 15px;
		}
		
		&:hover {
			border-color: $primary-color;
			background-color: $primary-color;
			color: $button-text-hover-color;
			text-decoration: none;
		}
	}
}


/*----------------------------------------------------------------
------------------------------------------------------------------

	SECTION - Content 2 - BANNERS
 
------------------------------------------------------------------
-----------------------------------------------------------------*/

// kill section padding defaults
.front .l-content-2 .l-inner {
	padding: 0;
}


.home-banners {
	background-color: $secondary-color;
}


/*----------------------------------------------------------------
------------------------------------------------------------------

	SECTION - Content 3 - PRODUCT INTRO
 
------------------------------------------------------------------
-----------------------------------------------------------------*/

// kill section padding defaults
.front .l-content-3 .l-inner {
	@include breakpoint($small-and-medium){
		padding: 40px 0;
	}
	@include breakpoint($large-up){
		padding-top: 100px;
	}
}

.front .l-content-3 {
	
	.l-inner {
		@include breakpoint($large-up) {
			background-image: url(../../../images/home/bg-home-solutions-imac.png);
			background-size: 40% auto;
			background-position: right 40px;
			background-repeat: no-repeat;
			min-height: 1000px;
			background-attachment: scroll;
			background-color: transparent;
			//position: relative;
			z-index: 2;
		}
	}
	
	.l-constrained {
		@include breakpoint($small-only) {
			margin: 0 30px;
			width: auto;
		}
		@include breakpoint($medium-up) {
			margin: 0 auto;
			width: 80%;
		}
	}
}

// title and body
.front .home-solutions-intro {
	
	@include breakpoint($small-up) {
		h2 {
			line-height: 1;
			@include font-size(45px);
			margin-bottom: 40px;
			text-transform: uppercase;
			text-align: center;
			border: 0;
		}
		.block__content {
			@include font-size(18px);
			line-height: 1.7;
			text-align: center;
			margin-bottom: $vert-spacing-unit;
		}
		i.fa {
			font-size: 100px;
			color: $secondary-color;
			text-align: center;
			width: 100%;
			margin-bottom: $vert-spacing-unit/2;
			
			@include breakpoint($large-up){
				font-size: 200px;
			}
		}
	}
	@include breakpoint($medium-only) {
		h2 {
			@include font-size(55px);
		}
		.block__content {
			@include font-size(20px);
		}
		i.fa {
			font-size: 200px;
		}
	}
	
	@include breakpoint($large-up) {
		overflow: hidden;
		width: 50%;
		
		h2 {
			@include font-size(65px);
			margin-bottom: 40px;
		}

		.block__content {
			@include font-size(25px);
		}
		i.fa {
			font-size: 200px;
		}
	}
}

// Product icons
.solution-product-icons {
	overflow: hidden;
	@include add-grid(3);
	@include add-gutter(1/2);
	
	@include breakpoint($small-and-medium) {
		width: 80%;
		margin: 0 auto;
	}
	@include breakpoint($large-up) {
		width: 50%;
		margin: 0;
	}
		
	.product-icon a {
		width: 100%;
		height: 0;
		padding-top: 160px;
		overflow: hidden;
		font-size: 0px;
		display: block;
		cursor: pointer;
		
		&:hover {
			@include opacity(0.7);
		}
		
		@include breakpoint($xlarge-up) {
			padding-top: 270px;
		}
	}	
	
	.pcc {
		@include grid-span(1, 1);
		
		a {
			background: $pcc-icon;
			background-size: 100% auto;
		}
	}
	.m2o {
		@include grid-span(1, 2);
		
		a {
			background: $m2o-icon;
			background-size: 100% auto;
		}
	}
	.odp {
		@include grid-span(1, 3);
		
		a {
			background: $odp-icon;
			background-size: 100% auto;
		}
	}	
}





.container:after{
    content: ""; 
    display: block; 
    position:absolute;
    z-index:0; 
    background-color: rgba(255, 255, 255, 0.2);

}
.container.contain1:after{
    top:-40%;
    width:100%;
    height:100%;
    -ms-transform: skew(0, -2deg); /* IE 9 */
    -webkit-transform: skew(0, -2deg); /* Safari */
    transform: skew(0, -2deg);
}
.container.contain2:after{
    top:0;
    left:50%;
    width:80%;
    height:100%;
    -ms-transform: skew(35deg, 0); 
    -webkit-transform: skew(35deg, 0); 
    transform: skew(35deg, 0);
}
.container.contain3:after{
    top:-60%;
    left:0;
    width:100%;
    height:100%;
    -ms-transform: skew(0, 4deg); /* IE 9 */
    -webkit-transform: skew(0, 4deg); /* Safari */
    transform: skew(0, 4deg);
}



/*----------------------------------------------------------------
------------------------------------------------------------------

	SECTION - Content 4 - PRODUCT 1 (PCc)
 
------------------------------------------------------------------
-----------------------------------------------------------------*/

.front .l-content-4 .l-inner {
	padding: 0;
}

//--------------------------------
//
// Shared styles
//
//--------------------------------

.front .view-id-products {
	overflow: hidden;
	
	ul.teaser-list {
		margin: 0;
	}
	
	// container for product sections
	.views-row {
		padding: 0 0 100px 0;
		position: relative;
		border: 0;
		
		@include breakpoint($large-up){
			background-color: #d0d0d0;
			width: 100%;
		}
		
		// CSS arrow (down)
		&:before {
			border-left: 30px solid transparent;
		    border-top: 30px solid #fff; // section bg color
		    border-right: 30px solid transparent;
		    content: " ";
		    display: block;
		    height: 0px;
		    position: absolute;
		    left: 50%;
		    top: 0;
		    width: 0px;
		    -webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		    transform: translateX(-50%);
		    z-index: 5;
		}
		
		&:after {
			content: ""; 
		    display: block; 
		    position:absolute;
		    z-index:0; 
		    background-color: rgba(255, 255, 255, 0.15);
		}
	} 
	
	// field content container
	.views-field-field-product-page-content {
	    overflow: hidden;
	}
	
	// title and body wrapper
	.product-content-wrapper {
		@include font-size(20px);
		color: #fff;
		margin: 0 30px;
		text-align: center;
		
		@include breakpoint($medium-up){
			width: 38%;
			float: left;
			margin-left: 5%;
			position: relative;
			z-index: 2;
			
			.product-body {
				min-height: 400px;
			}
		}
	}
	
	// section title
	h2 {
		text-align: center;
		text-transform: uppercase;
		color: $product-light;
		line-height: 1;
		margin-bottom: 0;
		
		@include breakpoint($small-and-medium){
			padding: 50px 0;
			@include font-size(30px);
			
		}
		@include breakpoint($large-up) {
			padding: 100px 0 60px;
			@include font-size(60px);
		}
		
		// product icons
		span.product-icon {
			display: inline-block;
			content: "";
			margin-bottom: 10px;
			text-align: center;
			
			@include breakpoint($small-and-medium){
				width: 120px;
				height: 120px;
			}
			@include breakpoint($large-up){
				width: 190px;
				height: 190px;
			}
		}
		span.title {
			clear: both;
			display: block;
		}
	}
	
	// product image field
	.home-product-image-right,
	.home-product-image-left {
		font-size: 0;
		width: 100%;
		margin: $vert-spacing-unit 0;
	}

	// product image field LEFT
	.home-product-image-left {
		
		@include breakpoint($medium-up){
			width: 55%;
			position: absolute;
			left: 0;
			z-index: 1;
			top: 0px;
			height: 100%;
			margin: 0;
		}
	}
	
	.fadeInLeftBig {
		width: 100%;
		height: 100%;
		background-image: url(../../../images/home/home-products-device-m2o.png);
		background-size: 100% auto;
		background-position: left top;
		background-repeat: no-repeat;
		
		@include breakpoint($medium-up) {
			background-position: left 150px;
		}
	}
	
	// product image field RIGHT
	.home-product-image-right {
		
		@include breakpoint($medium-up){
			width: 55%;
			position: absolute;
			right: 0;
			z-index: 1;
			top: 0px;
			height: 100%;
			margin: 0;
		}
		
		.fadeInRightBig {
			width: 100%;
			height: 100%;
			background-image: url(../../../images/home/home-products-device-pcc.png);
			background-size: 100% auto;
			background-position: right top;
			background-repeat: no-repeat;
			
			@include breakpoint($medium-up) {
				background-position: right 150px;
			}
		}
	}
	
	// learn more button
	.views-field-view-node {
		text-align: center;
		margin-top: 60px;
		position: relative;
		z-index: 1;
		
		a {
			display: inline-block;
			padding: 10px;
			border: 2px solid #fff;
			@include font-size(20px);
			color: #fff;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: .2rem;
			
			@include breakpoint($large-up) {
				@include font-size(40px);
				padding: 20px 40px 15px;
			}
			
			&:hover {
				border-color: #fff;
				background-color: #fff;
				color: $product-pcc-color;
				text-decoration: none;
			}
		}
	}
	
    //-------------------------------------------
    //
    // SPECIFIC PRODUCT SECTIONS 
    //
    //-------------------------------------------
	
	//-----------------------------
	// PCc
	//-----------------------------
	.views-row-1 {
		background-color: $product-pcc-color;
		
		// override arrow color defaults at $large-up breakpoint		
		&:before {
			border-top-color: #fff;
		}
		&:after {
			width:100%;
			height:100%;
			-ms-transform: skew(0, -2deg); /* IE 9 */
			-webkit-transform: skew(0, -2deg); /* Safari */
			transform: skew(0, -2deg);
			
			// placement
			@include breakpoint($small-only) {
				display: none;
			}
			@include breakpoint($medium-up) {
				top: -66%;
			}
			@include breakpoint($large-up) {
				top: -52%;
			}
			@include breakpoint($xlarge-up) {
				top: -35%;
			}
			@include breakpoint($xxlarge-up) {
				top: -25%;
			}
			
		}
		
		h2 {	
			.product-icon {
				background: $pcc-icon;
				background-size: 100% auto;
			}
		}
		.field--type-image {
			display: none;
		}
		
		// product image field
		.home-product-image-right {
			@include breakpoint($small-only){
				height: 295px;
			}
		}
		
		// hide unused image field
		.home-product-image-left {
			display: none;
		}
				
		// learn more button override
		.views-field-view-node a:hover {
			color: $product-pcc-color;
		}
	}
	//-----------------------------
	// m2o
	//------------------------------
	.views-row-2 {
		background-color: $product-m2o-color;
		
		// override arrow color defaults at $large-up breakpoint		
		&:before {
			border-top-color: $product-pcc-color;
		}
		&:after {
			top: 0;
		    width:80%;
		    height:100%;
		    -ms-transform: skew(36deg, 0); 
		    -webkit-transform: skew(36deg, 0); 
		    transform: skew(36deg, 0);	
		    
			// vertical placement
		    @include breakpoint($small-only) {
				display: none;
			}
			@include breakpoint($medium-up) {
				left: 68%;
			}
			@include breakpoint($large-up) {
				left: 62%;
			}
			@include breakpoint($xlarge-up) {
				left: 55%;
			}
			@include breakpoint($xxlarge-up) {
				left: 50%;
			}			
		}
		
		h2 {
			.product-icon {
				background: $m2o-icon;
				background-size: 100% auto;
			}
		}
		
		// content on the right
		.product-content-wrapper {
			@include breakpoint($medium-up) {
				width: 38%;
				float: none; // reset
				float: right;
				margin-left: 0;
				margin-right: 5%;
			}
		}
		
		// product image field LEFT
		.home-product-image-left {
			@include breakpoint($small-only){
				height: 325px;
			}
		}
		
		// hide unused image field
		.home-product-image-right {
			display: none;
		}
		.views-field-view-node a:hover {
			color: $product-m2o-color;
		}

	}
	//-----------------------------
	// odp
	//-----------------------------
	
	.views-row-3 {
		background-color: $product-odp-color;
		
		// override arrow color defaults at $large-up breakpoint		
		&:before {
			border-top-color: $product-m2o-color;
		}
		&:after {
		    left:0;
		    width:100%;
		    height:100%;
		    -ms-transform: skew(0, 4deg); /* IE 9 */
		    -webkit-transform: skew(0, 4deg); /* Safari */
		    transform: skew(0, 4deg);
		    
		    // vertical placement
		    @include breakpoint($small-only) {
				display: none;
			}
			@include breakpoint($medium-up) {
				top: -70%;
			}
			@include breakpoint($large-up) {
				top: -70%;
			}
			@include breakpoint($xlarge-up) {
				top: -60%;
			}
			@include breakpoint($xxlarge-up) {
				top: -48%;
			}		
		}
		
		h2 {
			.product-icon {
				background: $odp-icon;
				background-size: 100% auto;
			}
		}
		
		// hide unused image field
		.home-product-image-left {
			display: none;
		}
		
		// product image field
		.home-product-image-right {
			@include breakpoint($small-only){
				height: 255px;
			}
			.fadeInRightBig {
				background-image: url(../../../images/home/home-products-device-odp.png);
				background-size: 100% auto;
			}
		}
		.views-field-view-node a:hover {
			color: $product-odp-color;
		}
	}
}

// Product sorting
.block--views-products-home-page-sort {
	
	@include breakpoint($small-and-medium) {
		background-color: #eee;
		padding: 5% 10%;
	}
	
	@include breakpoint($large-up) {
		padding: 5% 20%;
	}
}

/*----------------------------------------------------------------
------------------------------------------------------------------

	SECTION - Content 5 - ABOUT
 
------------------------------------------------------------------
-----------------------------------------------------------------*/

.front .l-content-5 {
	background: url(../../../images/backgrounds/bg-edgenet-wall.jpg) no-repeat scroll center top;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 600px;
	position: relative;
	
	&:before {
		width: 100%;
		height: 100%;
		background-color: rgba(29, 39, 46, 0.75);
		display: block;
		z-index: 2;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.l-constrained {
		z-index: 5;
		position: relative;
		
		@include breakpoint($small-only) {
			margin: 0 30px;
			width: auto;
		}
		@include breakpoint($medium-up) {
			margin: 0 auto;
			width: 60%;
		}
	}
	
	.home-about-content {
		.text-columns {
			@include breakpoint($large-up){				
				margin-bottom: $vert-spacing-unit*2;
			}
		}
		h2 {
			color: #fff;
			text-align: center;
			margin-bottom: $vert-spacing-unit;
		}
		p {
			color: $image-text-body-color;
			@include font-size(24px);
		    text-align: center;
		}
		.button-container {
			text-align: center;
		}
		.button {
			color: $button-text-hover-color;
			border-color: $button-text-hover-color;
			text-align: center;
			@include font-size(20px);
			
			@include breakpoint($large-up) {
				@include font-size(40px);
				padding: 20px 40px 15px;
			}
			
			&:hover {
				border-color: $primary-color;
				background-color: $primary-color;
				color: $button-text-hover-color;
				text-decoration: none;
			}
		}
	}
}

/*----------------------------------------------------------------
------------------------------------------------------------------

	SECTION - Content 6 - PARTNERS
 
------------------------------------------------------------------
-----------------------------------------------------------------*/

.front .l-content-6 .l-inner {
	padding-bottom: 0; // temporary
}

//---------------------------
// slideshow attachment
//---------------------------

.front .view-partners .attachment-before {
	margin: 0 auto $vert-spacing-unit*2;
	position: relative;
	
	@include breakpoint($small-and-medium) {
		width: 90%;
	}
	
	@include breakpoint($large-up) {
		width: 70%;
	}
	
	// open quotes icon
	&:before {
		content: "\43";
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 1;
		font-family: $basicicons;
		width: 25px;
		@include font-size(25px);
		
		@include breakpoint($large-up) {
			@include font-size(60px);
			width: 60px;
		}
	}
	
	// close quotes icon
	&:after {
		content: "\44";
		display: inline-block;
		position: absolute;
		top: 30px;
		right: 0;
		line-height: 1;
		font-family: $basicicons;
		float: right;
		width: 25px;
		@include font-size(25px);
		
		@include breakpoint($large-up) {
			@include font-size(60px);
			width: 60px;
		}
	}
	
	// partner quotes container
	.view-display-id-attachment_1 {
		margin: 0 30px;
		padding: 0 15px;
		
		@include breakpoint($large-up) {
			margin: 0 60px;
		}
	}
	
	.views-slideshow-cycle-main-frame {
		position: relative;
		
		
		// image fade on either side of the slides
		&:before {
			content: "";
			position: absolute;
			left: 0px;
			top: 0;
			height: 100%;
			width: 15px;
			z-index: 5;
			background: url(../../../images/bg-partner-quotes_fade-left.png) repeat-y scroll left top;
		}
		
		&:after {
			content: "";
			position: absolute;
			right: 0px;
			top: 0;
			height: 100%;
			width: 15px;
			z-index: 5;
			background: url(../../../images/bg-partner-quotes_fade-right.png) repeat-y scroll right top;
		}
	}
	
	// testimonial text
	.views-field-field-partner-testimonial {
		@include font-size(20px);
		margin-bottom: $vert-spacing-unit;
		text-align: center;
		padding: 0 15px;
	}
	
	// testimonee and link
	.views-field-field-partner-testimonee,
	.views-field-title {
		text-align: center;
		font-style: italic;
		clear: both;
	}
	
	// prev & next controls
	.views-slideshow-controls-bottom {
		text-align: center;
		margin-top: $vert-spacing-unit;
		
		span {
			display: inline-block;
			
			a {
				display: block;
				width: 50px;
				height: 0;
				padding-top: 50px;
				overflow: hidden;
				position: relative;
				color: $button-text-color;
				border: 2px solid $button-border-color;
				
				&:nth-of-type(1) {
					margin-right: 15px;
				}
				&:nth-of-type(2) {
					margin-left: 15px;
				}
				
				&:before {
					content: "\3d";
					display: block;
					position: absolute;
					top: 9px;
					left: 8px;
					@include font-size(30px);
					font-family: $arrowicons;
				}
				
				&:hover {
					background-color: $button-bg-hover-color;
					color: $button-text-hover-color;
					border-color: $button-border-hover-color;
				}
			}
		}
		
		// specific icons
		.views_slideshow_controls_text_previous a:before {
			content: "\3d";
		}
		.views_slideshow_controls_text_next a:before {
			content: "\3e";
		}
		.views_slideshow_controls_text_pause {
			display: none;
		}
	}
}

//------------------------------
// Partners logo grid
//------------------------------

.front .view-partners .view-content {
	overflow: hidden; // clear floats
	
	ul {
		margin-bottom: $vert-spacing-unit*2;
		@include border-top(#dfdfdf);
		
		li.teaser-grid-row {
			@include breakpoint($small-up) {
				width: 50%;
				@include border-right-bottom(#dfdfdf);
				padding: 3%;
			}
			
			@include breakpoint($large-up) {
				width: 20%;
				float: left;
				list-style-type: none;
				margin: 0;
				overflow: hidden;
				@include transition($property,0.4,$function);
			}
			
			& a {
				display: block;
				padding: 10% 20%;
				overflow: hidden;
			}
			& a:hover img {
				-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);	
			}
		}
	}
}

// add a new partner - button
.front .view-partners .attachment-after {
	text-align: center;
	
	.view-header {
		padding: $vert-spacing-unit*2 0;
	}
}


/*----------------------------------------------------------------
------------------------------------------------------------------

	SECTION - Content 7 - NEWS TEASER
 
------------------------------------------------------------------
-----------------------------------------------------------------*/

.front .l-content-7 {
	background-color: #eee;
	
	.l-constrained {
		@include breakpoint($small-only) {
			margin: 0 30px;
			width: auto;
		}
		@include breakpoint($medium-up) {
			margin: 0 auto;
			width: 80%;
		}
	}
	
	h2.block__title {
		margin-bottom: $vert-spacing-unit;
	}
	
	.teaser-grid {
		cursor: pointer; // because of clickable js, all of the <li> is a link
		
		.teaser-grid-row {
			@include breakpoint($small-only) {
				width: 100%;
				margin: 0 0 $vert-spacing-unit 0;
				float: none;
				padding-bottom: $vert-spacing-unit;
				@include border-bottom($border-color);
			}
		
			@include breakpoint($medium-only) {
				float: left;
				width: 48%;
				margin: 0 4% $vert-spacing-unit 0;
				min-height: 400px;
				
				&.views-row-even {
					margin-right: 0;
				}
			}
		}
		
		@include breakpoint($large-up) {
			@include add-grid(4);
			@include add-gutter(1/6);
			overflow: hidden;
	
			// define grid widths 
		
			.views-row-1 {
				@include grid-span(1, 1);
			}
			.views-row-2 {
				@include grid-span(1, 2);
			}
			.views-row-3 {
				@include grid-span(1, 3);
			}
			.views-row-4 {
				@include grid-span(1, 4);
			}
		}
	}
	img {
		margin-bottom: 10px;
	}
	h3 {
		line-height: 1.2;
		margin-bottom: 5px;
	}
	.post-date {
		font-style: italic;
	}
	.more-link {
		text-align: center;
		margin-top: $vert-spacing-unit*2;
		
		a {
			display: inline-block;
			padding: 10px;
			border: 2px solid $title-color;
			@include font-size(20px);
			color: $title-color;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: .2rem;
			
			@include breakpoint($large-up) {
				@include font-size(40px);
				padding: 20px 40px 15px;
			}
			
			&:hover {
				border-color: $primary-color;
				background-color: $primary-color;
				color: $button-text-hover-color;
				text-decoration: none;
			}
			
			&:after {
				display: none;
			}
		}
	}
}

/*----------------------------------------------------------------
------------------------------------------------------------------

	SECTION - Content 8 - FORM
 
------------------------------------------------------------------
-----------------------------------------------------------------*/

.front .l-content-8 {
	background-color: #555;
	
	.l-inner {
		padding: 0 0 75px;
	}

}

/*---------------------------------------
	
	locations
	
----------------------------------------*/

.office-locations {
	background-color: #fff;
	line-height: 1;
	overflow: hidden;
	margin-bottom: $vert-spacing-unit*2;
	letter-spacing: 3px;
	
	@include add-grid(2);
	@include add-gutter(0);
	
	.location-1 {
		@include grid-span(1, 1);
		border-right: 1px solid $border-color;
	}
	.location-2 {
		@include grid-span(1, 2); 
	}
}

.location {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	
	@include breakpoint($small-only) {
		font-size: 12px;
		padding: 20px;
	}
	@include breakpoint($medium-up) {
		font-size: 1.7vw;
		padding: 30px;
	}
}

/*---------------------------------------
	
	webform
	
----------------------------------------*/

// container
.front .form--contact_know-more {
	overflow: hidden;
	
	@include breakpoint($small-and-medium) {
		margin: 0px auto;
		width: 90%;
	}
	
	@include breakpoint($large-up) {
		margin: 0 auto;
		width: 80%;
		max-width: 1400px;
	}
	
	
	header {
		display: none;
	}
	// text and phone number
	.field--name-body {
		text-align: center;
		
		@include breakpoint($large-up){
			width: 44%;
			text-align: left;
			display: inline-block;
		}
		
		h3 {
			color:#fff;
			@include font-size(30px);
			margin-bottom: 15px;
			line-height: 1.2;
			
			@include breakpoint($large-up) {
				@include font-size(50px);
				display: inline-block;
				vertical-align: top;
			}
		}
		
		.copy {
			color: #aaa;
			text-transform: uppercase;
			letter-spacing: 3px;
			@include font-size(15px);
			margin-bottom: $vert-spacing-unit;
			
			@include breakpoint($large-up){
				@include font-size(20px);
			}
			
			p {
				margin: 0 0 10px;
			}
			a {
				color: #6CC93C;
			}
		}
	}
}

// hide unused custom blocks
.l-content-9,
.l-content-10 {
	display: none;
}