//-------------------------------------------------------------
//
//	ARTICLES - TEASER LIST & ARTICLE TAXONOMY TEASER LIST
//
//	location: 
//      /sass/components/articles/_article-teaser.scss
//
//------------------------------------------------------------

/*------------------------------
	
 Page Layout
 
------------------------------*/

.page-news {

	.l-content-1 {
		.l-constrained {
			max-width: 1200px;
		}
	}
	.view-articles {
		.list-row {
			padding: $vert-spacing-unit 0;
			
			@include breakpoint($medium-up) {
				padding: $vert-spacing-unit*1.5 0;
			}
		}
	}
	.common-support-teaser-1 {
		.col-1-wrapper {
		    margin: 0 5% 0 0;
		    width: 40%;
		}
		.col-2-wrapper {
			@include breakpoint($medium-up) {
				width: 55%;
			}
		}
		
		h3.title {
			
			@include breakpoint($small-up) {
				@include font-size(25px);
			}
			@include breakpoint($medium-up) {
				@include font-size(25px);
			}
			@include breakpoint($large-up) {
				@include font-size(30px);
			}
			
			a {
				color: $text-color;
				
				&:hover {
					color: $primary-color;
				}
			}
		}
		.field--name-field-article-body {
			@include font-size(18px);
		}
	}
}

.view-articles .submitted {
	font-style: italic;
	display: block;
	//margin-top: 30px;
}


// list item 
.article-row {
	@include breakpoint($large-up) {
		padding: $vert-spacing-unit 0;
	}
}

// post date
.article-node-teaser .post-date {
	margin-bottom: 10px;
}

// article title
.article-node-teaser h3.title {
	@include breakpoint($small-only) {
		@include font-size(18px);
	}

	@include font-size(24px);
	line-height: 1.2;
}

// allow article teaser titles that are links to not have default link color
.page-news .teasers-main-content h3.title a,
.page-taxonomy .teasers-main-content h3.title a {
	color: $title-color;
	
	&:hover {
		color: $link-hover-color;
	}
}


/* list row content */
.list .post-date {
	font-size: 0.813em;
	font-style: italic;
}


/*--------------------------

 article tags
 
----------------------------*/

// tag outer container
#article-tags-container {
	@include font-size(12px);
	font-style: normal;
	margin: $vert-spacing-unit/2 0;
	
	// tag list container
	.field--name-field-tags .field__items {
	overflow: hidden;
	
		&:before {
			content: "\e004";
			font-family: $basicicons;
			@include font-size(16px);
			margin-right: 8px;
			vertical-align: middle;
			font-style: normal;
			display: inline-block;
		}
	}

	// individual tags
	.field--name-field-tags .field__item {
		margin: 0 8px 0 0;
		display: inline-block;
		
		a {
			width: auto;
			text-align:center;
			padding: 0;
			margin: 0;
			text-decoration: underline;
		}
	}
}

// Article teaser image
.article-node-teaser .media-thumb-item {
    float: left;
    margin-right: 4%;
    width: 28%;
}

// make room for media thumbnail
@include breakpoint($medium-up) {
	.page-news,
	.page-taxonomy {
		.article-row {
			.title,
			.post-date,
			.field--name-body,
			#article-tags-container {
				margin-left: 32%;
			}
		}
	}
}

// kill bottom margin on last <p> in body
.article-row p:last-child {
 	margin-bottom: 0;
}

// social sharing
.addthis_sharing_toolbox {
	max-height: 32px;
}

/*-----------------------------------------------------
	
 taxonomy page overrides

-------------------------------------------------------*/

/* make taxonomy page title smaller to fit better if longer */
.page-taxonomy h1 {
    font-size: 2.250em;
}

/* -- place a tag icon before page title on taxonomy page*/
.page-taxonomy .l-content h1:before {
	content: "\e004";
	font-family: $basicicons;
	margin-right: 15px;
	vertical-align: middle;
	padding: 10px 12px 10px 10px;
	color: #fff;
	background: $title-color;
	line-height: 1;
	position: relative;
	top: -2px;
	@include font-size(20px);
	@include border-radius(50%);
}
