
.front .views_slideshow_cycle_main {
    width: 100%;
    position: relative;
}
.front .views-slideshow-cycle-main-frame-row {
    width: 100%;
    
    .views-field img {
	    width: 100%;
	    height: auto !important;
	}
}


/*--------------------------------

 slideshow controls - NEXT & PREV
 
---------------------------------*/


/*---------- previous ---------*/

.front .home-banners {
	
	@include breakpoint($small-only) {
		display: none;
	}
	
	.views-slideshow-controls-text-previous,
	.views-slideshow-controls-text-next {
		display: block;
		width: 75px;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 6;
		
		a {
			display: block;
			height: 0;
			padding-top: 114px;
			overflow: hidden;
			position: relative;
			color: #fff;
			@include opacity(.5);
			
			&:before {
				font-family: "IcoMoonArrows";
				font-size: 80px;
				position: absolute;
				top: 20px;
				text-shadow: 1px 0px 0 rgba(0,0,0,0.3);
			}
			
			&:hover {
				@include opacity(1);
			}
		}
	}

	/* prev icon */
	.views-slideshow-controls-text-previous {
		left: 0;
		
		a {
			-webkit-border-radius: 0 40px 40px 0;
			-moz-border-radius: 0 40px 40px 0;
			border-radius: 0 40px 40px 0;
			
			&:before {
				content: "\32";
				right: 0px;
			}
		}
	}
	
	/*----------- next -------------*/
	
	.views-slideshow-controls-text-next {
		right: 0;
		
		a {
			-webkit-border-radius: 40px 0 0 40px;
			-moz-border-radius: 40px 0 0 40px;
			border-radius: 40px 0 0 40px;
			
			&:before {
				content: "\33";
				left: 0px;
			}
		}
	}
	
	
	/* pause */
	.views-slideshow-controls-text-pause a {
		display: none;
	}
}