/*-------------------------------------------------
---------------------------------------------------

 Footer - Layout
 
---------------------------------------------------
-------------------------------------------------*/


// footer outer wrapper
.l-footer-wrapper {
	background-color: $footer-bg-color;
	@include clearfix;
	@include border-top(#ccc);
}

// footer inner wrapper
.footer-inner {
	padding: $vert-spacing-unit 0;
	@include clearfix;
	color: $footer-text-color;
	@include font-size(14px);
	
	& a {
		color: $footer-link-color;
	}
	
	& a:hover {
		color: $footer-link-hover-color;
	}
}


@include breakpoint($small-only) {
	// footer links, copyright, icons
	.footer-links {
		margin-bottom: $vert-spacing-unit/2; // vert-spacing variable setting divided by 2
	}
}

@include breakpoint($large-up) {

	.l-region-footer {
		@include add-grid(6);
		@include add-gutter(1/2);
	}
	// footer section 1 - copyright & links	
	.l-region--footer-1 {
		@include grid-span(3, 1);
	}
	// footer section 2 - social icons
	.l-region--footer-2 {
		@include grid-span(3, 4);
	}
}

/*-----------------------------------

 Copyright & links
 
------------------------------------*/

.footer-links {
	margin-bottom: 5px;
	
	& ul {
		margin: 0;
		padding: 0;
		@include clearfix;
	}
	& ul li {
		@include no-bullet(0 12px 0 0, 0 0 0 0);
		float: left;
	}
}

// footer main menu block
.l-footer-wrapper .footer-menu {
	
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		list-style-type: none;
		margin-right: 10px;
	}
}

.footer-copyright {
	@include breakpoint($small-and-medium) {
		margin-bottom: $vert-spacing-unit/2;
	}
}
