/*----------------------------------------------------
------------------------------------------------------

 SEARCH page
 
------------------------------------------------------
----------------------------------------------------*/

.page-search #search-form #edit-basic {
	margin-bottom: $vert-spacing-unit;
}
.page-search .tabs ul.primary {
	margin: 0;
	border: 0;
}

/* form wrapper */
.page-search #edit-basic {
	padding: $vert-spacing-unit/1.5;
	@include border-all($border-color);
}

/* label */
.page-search label[for="edit-keys"] {
	margin-right: 5px;
}

/* input */
.page-search input#edit-keys {
	width: 150px;
}

/* submit */
.page-search #edit-basic .form-submit {
	margin: 1em 0;
}

/* ----Search Results -------*/

.search-results p:last-child {
	margin-bottom: 0;
}
.search-results li {
	border-bottom: 1px dotted #aaa;
	margin-bottom: 1em;
}
/* in-context results display */
.search-results .search-snippet-info {
	background-color: #f5f5f5;
	@include font-size(11px);
	margin-bottom: 20px;
	padding: 15px;
	@include border-radius(10px);
}