fieldset {
	padding: 30px;
	@include border-all($border-color);
	margin-bottom: $vert-spacing-unit;
	@include border-radius($border-radius);
}
legend {
	@include font-size(24px);
	font-weight: $title-font-weight;
	padding: 0 15px;
	color: $title-color;
	@include border-radius($border-radius);
}
