/*-------------------------------------------

 LISTS - ordered & unordered defaults 

--------------------------------------------*/


// !!!!!!! >>>>>>> review these vs normalize.css

ol {
  list-style: decimal;
}
ol li {
	list-style-type: decimal;
}
ul {
	list-style: disc;
}
ul li {
	list-style: disc;
}
ul ul,
ol ol {
	padding-top: 0.5em;
}
ul ul li {
	list-style: circle;
}
.node ol,
.node ul {
	padding-left: 2em;
}
.node ul.inline,
.node ol.inline {
	padding-left: 0;
}

/*-------- Definition Lists --------*/
dt, .admin h3 {
	font-size: 1.125rem; /* 18px */
	margin: 0;
}
dd {
	padding-left: 10px;
	font-size: 0.938rem; /* 15px */
	font-style: italic;
	margin-bottom: 20px;
}

/* Content that needs typical ordered list styling */
.context-legal .block-system-main ol,
.context-legal .block-system-main ul,
.context-meet-greet-rules .block-system-main ol,
.highlight-product-body {
	margin: 0 0 30px 30px;
}
ol.search-results li {
	margin-left: 30px;
}

/* store page - negates .teaser-grid style on overarching views <li> for whole page */
.view-store-landing.teaser-grid #views-popup-wrapper .field-name-body li {
	list-style-type: disc;
	margin-left: 20px;
}


/*---------------------------------------------------------
-----------------------------------------------------------

 TEASER LIST & TEASER GRID styles
  
-----------------------------------------------------------
---------------------------------------------------------*/

/*---------------------------------------

 TEASER-GRID
 
----------------------------------------*/

.teaser-grid  {
	margin: 0;
	padding: 0;
}
.teaser-grid ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.teaser-grid li,
.teaser-grid .item-list li,
.teaser-grid-row {
	list-style-type: none;
	float: left;
	padding: 0;
	margin: 0;
	position: relative;
}

/*---------------------------------------

 TEASER-LIST
 
----------------------------------------*/

.teaser-list {
	padding: 0;
}
.teaser-list ul {
	margin: 0;
	padding: 0;
}
.teaser-list-row,
.item-list li.teaser-list-row {
	padding: $vert-spacing-unit/2 0;
	@include border-bottom($border-color);
	list-style-type: none;
	margin: 0;
	position: relative;
	overflow: hidden;
}

/* first and last row alterations */
.teaser-list-row:nth-of-type(1),
.item-list li.teaser-list-row:first-child,
.l-region--sidebar .teaser-list-row:first-child {
	padding-top: 0;
}
.teaser-list-row:last-child,
.item-list li.teaser-list-row:last-child,
.l-region--sidebar .teaser-list-row:last-child {
	border-bottom: 0;
}

/* list row content - articles */
.teaser-list h3.title {
	font-size: 15px;
	margin-bottom: 5px;
}
.teaser-list .post-date {
	font-size: 0.813em;
	font-style: italic;
}
.teaser-list .media-thumb-item {
	width: 160px;
	float: left;
	margin-right: 30px;
}
.teaser-list ul.share-links-container {
	border: 0;
	height: 20px;
	margin: 0px;
	padding: 5px 0;
}
