/*-------------------------------------

  Site Images

--------------------------------------*/

img, media {
	max-width: 100%;
	width: 100%;
	height: auto;
	vertical-align: middle; /* kills space between img, a, and container */
}

// exceptions to 100% img width; images whose container does not have a set width
table img,
img.file-icon,
.feed-icon img,
img#views-popup-ajax-throbber, /* tour, store page ajax loading gif */
.gallery-image-item img, /* gallery and gear gallery */
body.node-type-banner .field-type-image img,
.commerce-paypal-icon,
#toolbar img,
.mollom-image-captcha img /* captcha */ {
	width: auto;
}

// all images inside links 
 
a img {
	@include transition-all;
}

// colorbox zoom image -cursor icon 
 
a.colorbox img,
.gallery-image-item img {
	cursor: url("../images/cursor-zoom.png"), pointer;
}

// video thumbnail - cursor icon 
a.colorbox-load img,
.gallery-video-item img {
	cursor: url("../images/cursor-video.png"), pointer;
}

// Ajax Throbber - animated gif
// allow ajax throber to be width of gif, not 100% 
img#views-popup-ajax-throbber {
	width: auto;
}
#views-popup-ajax-throbber-container {
	padding-left: 25px;	
}


/*-------------------------------------

 video

-------------------------------------*/

// Sets video to be 100% width and responsive 
.l-page .embedded-video {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	
	& iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}


