/*-----------------------------------

 Custom Fonts - per site
 
-----------------------------------*/

// add custom font declarations here >>







/*--------------------------------------------------------
----------------------------------------------------------

 TEXT STYLES
 
----------------------------------------------------------
--------------------------------------------------------*/

// Text color when selected
::-moz-selection,
::selection {
	color: $selection-text-color;
	background-color: $selection-background-color;
	text-shadow: none;
}


hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: $border-color;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
	margin-bottom: $vert-spacing-unit;
	margin-top: 0;
}

p {
	word-wrap: break-word;
}

/*---------------------------------------------

 HEADINGS & TITLES - general
 
-----------------------------------------------*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.legacy-shownotes-item .field-label /* h2 styling */,
.legacy-node-full div.share-links-container:before /* legacy node share links title */ {
	letter-spacing: -0.05em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include title-style;
}

h1, h2 {
	font-weight: normal; /* removes ugly bold rendering of custom title fonts - remove as necessary */
}

/*------------------

 h1
 
-------------------*/

h1 {
	@include font-size(48px);
	line-height: 1;
	color: $title-color;
	@include border-bottom($border-color);
	padding-bottom: 20px;
	text-transform: uppercase;
	margin-bottom: $vert-spacing-unit;
}

/* overrides to account for node pager or menu block at page top */
.node-type-event h1, /* node pager */
.context-tour h1, /* menu block */
.context-news h1, /* menu block */ 
.context-gallery h1, /* menu block */
.context-music h1 /* menu block and pager */ {
	border: 0;
	margin-bottom: 0;
}

/*------------------

 h2
 
--------------------*/

h2, 
h2.node-title,
h2.block-title,
h2.views-title,
.legacy-shownotes-item .field-label, /* legacy node shownotes title */
.legacy-node-full div.share-links-container:before, /* legacy node share links title */
#edit-department-id-wrapper label[for*="department"], /* Store Dept title */
.page-store .view-display-id-dl_shows h3 /* store downloads title */ {
	@include font-size(27px);
}


h2.node-title, 
h2.block-title {
	line-height: 1.2;
}

/*--------------------

 h3 - h6
 
---------------------*/

h3 {
	@include font-size(21px);
}
h4 {
	@include font-size(19px);
}
h5 {
	@include font-size(17px);
}
h6 {
	@include font-size(15px);
}
