/*******************************************************************************
 * sidebar.layout.scss
 *
 * Styles for the Sidebar layout.
 ******************************************************************************/
/**
 * $ARROW
 */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  font-size: 0;
  /* Clear Fix correction (add font-size to fix extra padding at bottom of site */
}

@media (min-width: 0em) and (max-width: 40em) {
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    float: none;
  }
}
@media (min-width: 64.063em) {
  .l-content {
    width: 65.21739%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  .l-region--sidebar {
    width: 30.43478%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 64.063em) and (max-width: 90em) {
  .l-page.has-no-sidebars .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    float: none;
  }

  .l-page.has-no-sidebars .l-region--sidebar {
    width: -4.34783%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 120.063em) {
  .l-content {
    width: 65.21739%;
    float: left;
    margin-right: -100%;
    margin-left: 8.69565%;
    clear: none;
  }

  .l-region--sidebar {
    width: 21.73913%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 90.063em) {
  .l-page.has-no-sidebars .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    float: none;
  }
}
