/*------ CSS for banner-with-body-1.tpl.php ------*/


/* MOBILE UP - $small-up = min-width: 0 */
@media (min-width: 0em) {
	
	/* row wrappers */
	.banner-with-body-1 .row1-outer-wrapper {
		margin-bottom: 30px;
	}
}

/* TABLET UP - $medium-up = min-width: 641px */
@media (min-width: 40.063em)  {
	
	/* row wrappers */
	.banner-with-body-1 .row1-outer-wrapper {
		position: relative;
		z-index: 0;
		margin: 0;
	}
	.banner-with-body-1 .row2-outer-wrapper {
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
}

