@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-3963qs');
	src:url('fonts/icomoon.eot?#iefix-3963qs') format('embedded-opentype'),
		url('fonts/icomoon.woff?-3963qs') format('woff'),
		url('fonts/icomoon.ttf?-3963qs') format('truetype'),
		url('fonts/icomoon.svg?-3963qs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
	content: "\21";
}

.icon-googleplus2:before {
	content: "\22";
}

.icon-googleplus3:before {
	content: "\23";
}

.icon-googleplus4:before {
	content: "\24";
}

.icon-googleplus5:before {
	content: "\25";
}

.icon-facebook:before {
	content: "\27";
}

.icon-facebook2:before {
	content: "\50";
}

.icon-facebook3:before {
	content: "\51";
}

.icon-facebook4:before {
	content: "\2a";
}

.icon-flickr:before {
	content: "\2b";
}

.icon-flickr2:before {
	content: "\2c";
}

.icon-flickr3:before {
	content: "\2d";
}

.icon-flickr4:before {
	content: "\2e";
}

.icon-flickr5:before {
	content: "\2f";
}

.icon-twitter:before {
	content: "\30";
}

.icon-twitter2:before {
	content: "\31";
}

.icon-twitter3:before {
	content: "\32";
}

.icon-pinterest:before {
	content: "\33";
}

.icon-pinterest2:before {
	content: "\34";
}

.icon-pinterest3:before {
	content: "\35";
}

.icon-pinterest4:before {
	content: "\36";
}

.icon-paypal:before {
	content: "\37";
}

.icon-paypal2:before {
	content: "\38";
}

.icon-paypal3:before {
	content: "\39";
}

.icon-soundcloud:before {
	content: "\3a";
}

.icon-soundcloud2:before {
	content: "\3b";
}

.icon-apple:before {
	content: "\3c";
}

.icon-android:before {
	content: "\3d";
}

.icon-spotify:before {
	content: "\3e";
}

.icon-spotify2:before {
	content: "\3f";
}

.icon-instagram:before {
	content: "\40";
}

.icon-instagram2:before {
	content: "\41";
}

.icon-instagram3:before {
	content: "\42";
}

.icon-tumblr:before {
	content: "\43";
}

.icon-tumblr2:before {
	content: "\44";
}

.icon-tumblr3:before {
	content: "\45";
}

.icon-vimeo:before {
	content: "\46";
}

.icon-vimeo2:before {
	content: "\47";
}

.icon-vimeo22:before {
	content: "\48";
}

.icon-youtube:before {
	content: "\49";
}

.icon-youtube-sign:before {
	content: "\4a";
}

.icon-youtube2:before {
	content: "\4b";
}

.icon-youtube3:before {
	content: "\4c";
}

.icon-myspace-2:before {
	content: "\26";
}

.icon-myspace-1:before {
	content: "\4d";
}

.icon-amazon:before {
	content: "\4e";
}

.icon-itunes:before {
	content: "\4f";
}

.icon-vine-1:before {
	content: "\52";
}

.icon-vine-2:before {
	content: "\53";
}

.icon-vevo1:before {
	content: "\54";
}

