//------------------------------------------------------
//
//	NAVIGATION - Main site navigation - non-mobile
//
//	location: 
//      /sass/components/_navigation.scss
//
//------------------------------------------------------



.l-region--header {
	@include breakpoint($small-only) {
		display: none;
	}
	
	@include breakpoint($medium-up) {
		display: block;
		position: relative; // for non-fixed nav
		left: 0;
		width: 100%;
		z-index: 9997;
		min-height: 59px;
		@include clearfix; // for non-fixed nav
	}
	
	// List items
	nav.main-menu {
		.menu {
			margin: 0;
			padding: 0;
			overflow: visible;
			position: relative;
			background-color: $nav-bar-bg-color;
			
			li {
				margin: 0;
				padding: 0;
				list-style-type: none;
				float: left;
				position: relative;
				font-family: $nav-font-family;
				font-weight: $nav-font-weight;
				line-height: $nav-line-height;
				
				&.leaf {
					list-style-image: none;
				}
				&.active-trail {
					background-color: $nav-button-bg-active-color;
				}
				&.collapsed {
					list-style-image: none;
				}
				&.expanded {
					list-style-image: none;
				}
				
				// keeps main nav link in a persistent hover state while cursor moves to subnav list
				&:hover > a {
					background-color: $nav-button-bg-hover-color;
					color: $nav-text-hover-color;
				}
				
				// Nav button links
				> a.main-nav {
					padding: 15px 20px;
					display: block;
					color: $nav-text-color;
					background-color: $nav-button-bg-color;
					@include font-size(18px);
					
					@include breakpoint($small-only) {
						@include font-size(20px);
						padding: 10px;
					}
					@include breakpoint($medium-only) {
						@include font-size(22px);
						padding: 10px 15px;
					}
					@include breakpoint($large-up) {
						@include font-size(30px);
						padding: 15px 20px;
					}
					
					&:hover {
						color: $nav-text-hover-color;
						background-color: $nav-button-bg-hover-color;
						text-decoration: none;
					}
					&.active-trail,
					&.active-trail:hover {
						background-color: $nav-button-bg-active-color;
					}
					
				}
				
				/* sub nav menus */
				ul.menu {
					position: absolute;
					top: 59px;
					left: 0;
					min-width: 300px;
					visibility: hidden;
					@include transition-opacity;
					background-color: $subnav-bar-bg-color;
					left: -9999px; // hide offscreen when not needed - more accessible than display:none
					
					@include breakpoint($small-only) {
						top: 56px;
						min-width: 180px;
					}
					@include breakpoint($medium-only) {
						top: 56px;
						min-width: 180px;
					}
					@include breakpoint($large-up) {
						top: 78px;
						min-width: 230px;
					}
				
					li {
						float: none;
						overflow: hidden;
						
						a.sub-nav {
							padding: 10px 15px;
							color: $subnav-text-color;
							background-color: $subnav-button-bg-color;
							@include font-size(14px);
							font-family: $subnav-font-family;
							font-weight: $subnav-font-weight;
							line-height: $subnav-line-height;
							
							@include breakpoint($medium-up) {
								@include font-size(14px);
							}
							@include breakpoint($large-up) {
								@include font-size(17px);
							}
							
							&:hover,
							&:active,
							&.active-trail {
								color: $subnav-text-hover-color;
								background-color: $subnav-button-bg-hover-color;
							}
						}
					}
				}
				
				// show sub-menu on hover
				&:hover ul.menu {
					display: block;
					opacity: 1;
					visibility: visible;
					left: 0;
				}
			}
		}
	}
}
