//--------------------------------------------------
//
//	FOOTER - general styles for and layout
//
//	location: 
//      /sass/base/_lists.scss
//
//--------------------------------------------------




/*-------------------------------------------------
---------------------------------------------------

 Footer - Layout
 
---------------------------------------------------
-------------------------------------------------*/


// footer outer wrapper
.l-footer-wrapper {
	background-color: $footer-bg-color;
}

// constrained container
@include breakpoint($large-up) {
	.l-footer-wrapper .l-constrained {
		width: 95%;
	}
}

// footer inner wrapper
.footer-inner {
	@extend %clearfix;
	padding: $vert-spacing-unit*1.5 0;
	color: $footer-text-color;
	
	& a {
		color: $footer-link-color;
	}
	
	& a:hover {
		color: $footer-link-hover-color;
	}
	
	// add grid to .footer-inner
	@include add-grid(12);
	@include add-gutter(1);
	
	// columns
	@include breakpoint($large-up) {

		.l-region--footer-1 {
			@include grid-span(3,1);
		}
		.l-region--footer-2 {
			@include grid-span(3,4);
		}
		.l-region--footer-3 {
			@include grid-span(3,7);
		}
		.l-region--footer-4 {
			@include grid-span(3,10);
		}
	}
	.l-region {
		.block {
			margin-bottom: $vert-spacing-unit;
		}
	}
	
	// footer nav menus
	.block--menu {
		ul.menu {
			margin: 0;
			padding: 0;
			
			li {
				margin: 0 0 5px 0;
				padding: 0;
			}
		}
	}
	
	// block titles
	h2.block__title {
		@include font-size(20px);
		font-weight: 300;
		margin-bottom: 25px;
		padding-bottom: 15px;
		@include border-bottom($dark-gray);
		text-transform: uppercase;
		line-height: 1;
	}
}


/*-----------------------------------

 Copyright
 
------------------------------------*/

.footer-copyright {
	@include font-size(13px);
	margin-bottom: $vert-spacing-unit/2 !important;
	
	p {
		margin-bottom: 0;
	}
}

.btw-credits {
	
	p {
		margin: 0 0 5px 0;
		text-align: center;
		text-transform: uppercase;
		@include font-size(9px);
		letter-spacing: 0.3em;
		line-height: 1;
		display: inline-block;
		vertical-align: middle;
	}
	
	.btw-logo {
			padding: 5px;
			max-width: 70px;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid $border-color;
			
		a {
			display: block;
			height: 0;
			padding-top: 25px;
			background: url(../images/logo-btw-full-light.svg) no-repeat scroll left top;
			background-size: 100% auto;
			overflow: hidden;
		}
	}
}
