/*----------------------------------------------

 CLICKABLE class: 
 
 JS that makes entire teaser-row container a link, vs
 just the linked text within. Style to make 
 visible changes on container hover.
  
-----------------------------------------------*/

/*----------------------------
 in main content area
------------------------------*/

/* articles list page */

.teaser-list .clickable:hover h3 a {
	color: $link-hover-color;
}

/*------------------------------
 general 
-------------------------------*/

.clickable {
	@include transition(all, 0.2s, ease-in);
}
.clickable-hover {
	cursor: pointer;
	background: none;
}

/*-----------------------------
 in sidebar 
------------------------------*/

/* unlinked text */
.l-region--sidebar .clickable-hover {
	color: $sidebar-text-color;
}
/* linked text */
.l-region--sidebar .clickable a {
	color: $sidebar-link-color; /* same as default sidebar text */
}
.l-region--sidebar .clickable-hover a {
	color: $sidebar-link-hover-color;
	text-decoration: none;
}

/* dateblock */
.l-region--sidebar .clickable-hover .dateblock {
	background-color: $dateblock-bg-hover-color;
	
	& .month, & .day, & .year {
		color: $dateblock-text-hover-color;
	}	
}
