/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 REMINDER BLOCK - VERIFY EMAIL ADDRESS
 
-----------------------------------------------------------------------
----------------------------------------------------------------------*/

/*-----------------------------------

 OUTER CONTAINER 
 
------------------------------------*/

.block-fantorrent-join-reminder-block {
	background-color: rgba(234, 47, 47, 0.85);
	@include border-radius(5px);
	margin: 50px 0;
	text-align: center;
	
	// title
	h2.block-title {
		background-color: #000;
		@include border-radius(5px 5px 0 0);
		color: #fff;
		@include font-size(20px);
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 1.2;
		margin: 0;
		padding: 15px;
		text-transform: uppercase;
		
		// email icon
		&:before {
			content: "\6f";
			font-family: $basicicons;
			font-size: 24px;
			margin-right: 10px;
			text-transform: none;
			vertical-align: -3px;
			color: #999;
		}
	}
}


// home page only
.front {
	.block-fantorrent-join-reminder-block {
		position: fixed;
		top: 150px;
		z-index: 100;
		left: 50%;
		width: 70%;
		transform: translate(-50%);
	}
}

/*-----------------------------------

 BOTTOM CONTENT 
 
------------------------------------*/

.block-fantorrent-join-reminder-block .content {
	color: #fff;
	margin: 0 auto;
}

/* "Verify Your Email Today" */
h2#fantorrent-join-email-reminder-title {
	color: #fff;
	@include font-size(24px);
	letter-spacing: 0;
	margin-bottom: 5px;
	text-shadow: none;
	text-transform: uppercase;
	display: none; /* hide - overkill */
}

/* Time Remaining */
#fantorrent-join-email-reminder-time-left {
	background-color: #fff;
	color: #444;
	@include font-size(18px);
	line-height: 100%;
	margin: 25px;
	padding: 15px;
	text-align: center; 
}

/* Resend Email - Request */
#fantorrent-join-email-reminder-resend-email-link {
	@include font-size(12px);
	line-height: 1.2;
	margin: 0 25px 25px;
	text-align: center; /* for homebox dashboard */
}

/* Resend button */
.fantorrent-join-verification-email-resend-link.button {
	background-color: $button-bg-color;
	margin: 10px auto;
	max-width: 200px;
	color: $button-text-color;
	
	&:hover {
		background-color: $button-bg-hover-color;
		color: $button-text-hover-color;
	}	
}

/* for homebox dashboard only */
.homebox #fantorrent-join-email-reminder-time-left {
	@include font-size(24px);
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
}
.homebox #fantorrent-join-email-reminder-resend-email-link {
	margin: 0;
}
