//------------------------------------------------------
//
//	MOBILE NAVIGATION - Styles for Main Site Nav in mobile
//
//	location: 
//      /sass/components/_mobile-navigation.scss
//
//------------------------------------------------------




/*-----------------------------------
 
 mobile header - contains nav toggle 
 and site name
   
------------------------------------*/


// Container for userbar, nav
.l-mobile-header {
	@extend %clearfix;
	
	@include breakpoint($small-only){
		position: relative;
		width: 100%;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $mobile-header-bg-color;
	}
	@include breakpoint($medium-up) {
		display: none;
	}
}

/* Site Name */
h1.site-name {
	display:none;
	
	@include breakpoint($small-only) {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
	    @include font-size(25px);
	    text-align: center;
	    padding: 10px 20px 10px 70px;
	    height: 50px;
	    max-height: 50px;
	    line-height: 1.2;
	    vertical-align: middle;
	    margin: 0;
	    z-index: 0;
	    @include border-bottom($border-color);
	    
	    & a {
	    	display: block;
		    color: $site-name-text-color;
	    }
    }
}

/*-----------------------------------
	
 Toggle buttons 
 
-----------------------------------*/

// open menu - button
a.nav-open-btn {
    left: 0px;
    top: 0px;
    z-index: 9999;
    margin-left: 0px;/* negates show-link class positioning */
    width: 50px;
    overflow: hidden;
    height: 0px;
    position: absolute;
    padding: 50px 0px 0px;
    background: none;
    border-radius: 0;
    border-right: 1px solid $border-color;
    color: $text-color;
    @include transition($property,$time,$function);
    
    &:hover {
	    color: $text-color;
    }
    
    &:before {
	    font-family: $basicicons;
	    content: "\62";
	    font-size: 24px;
	    line-height: 1;
	    position: absolute;
	    top: 11px;
	    left: 12px;
    }
    @include breakpoint($medium-up) {
	    display:none;
    }
}


// close menu - button
a.nav-close-btn {
	display: block;
	padding: 15px 15px 11px 40px;
	width: auto;
	display: block;
	color: $mobile-nav-bg-color;
	@include font-size(12px);
	line-height: 1;
	color: #999;
	height: 50px;
	
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	
	&:before {
		content: "\e008";
		font-family: $basicicons;
	    font-size: 24px;
	    line-height: 1;
		display: inline-block;
		position: relative;
		top: -2px;
		margin-right: 10px;
		vertical-align: middle;
	}
}


/*-----------------------------------
 
 Layout
   
------------------------------------*/

#site-wrapper {
	overflow: hidden;
	width: 100%;
}

// Outer container which contains all content
// and pushes off screen when navigation
// menu is toggled on

.l-inner-wrap { // site canvas
	width: 100%;
	height: 100%;
	//position: relative;
	
	// Adding 3d transform forces browser to use hardware acceleration for better performance
	// ..HOWEVER..
	// !!!! Temporarily hidden because of fixed position bug. When a parent container uses CSS3 transforms, 
	// inner elements that are fixed position no longer act as fixed but as absolute or relative.
	// here the transforms are only occurring with the .js-nav class is enacted, which is only after mobile nav is toggled
	
	// older browser support
	//-webkit-transform: translateX(0);
	//transform: translateX(0); 
	
	// older browser support	
	//-webkit-transform: translateX(0) translateZ(0);
	//transform: translateX(0) translateZ(0);
	
	// latest browser performance
	//-webkit-transform: translate3d(0, 0, 0);
	//transform: translate3d(0, 0, 0); 
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
}

// .js-nav is added as body class via js onClick event

.js-nav body {
	overflow: hidden;
}
.js-nav .l-inner-wrap {
	// older browser support
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
	
	// older browser support
	-webkit-transform: translateX(300px) tranlateZ(0);
	transform: translateX(300px) tranlateZ(0);
	
	// latest browser performance
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
	
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
    position: relative;
    width: 100%;
}

// clickable transparent content cover that closes mobile nav
// in addition to "close menu" button

#mobile-fade {
	display: none;
}
.js-nav #mobile-fade {
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	opacity: 1;
}

// Mobile nav container
// is translated off screen left until menu is toggled on

.l-menu-mobile {
	position: absolute;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: $mobile-nav-bg-color;
    backface-visibility: hidden;
    display: block;
    
    // .js-nav is added as body class via js onClick event
	// turns off 3d translate 
    .js-nav & {
	    
		// older browser support
		-webkit-transform: translateX(0);
		transform: translateX(0); 
		
		// older browser support	
		-webkit-transform: translateX(0) translateZ(0);
		transform: translateX(0) translateZ(0);
		
		// latest browser performance
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
    }
}

// container for close menu button
.l-menu-mobile-top {
	background-color: $mobile-nav-close-btn-bg;
	height: 50px;
}


/*------------------------------------

 Main Links styling
 
-------------------------------------*/

.mobile-nav {
	height: auto;
	position: relative;
}
.mobile-nav ul {
	margin: 0;
	padding: 0;
}
.mobile-nav ul li {
	text-align: left;
	float: none;
	@include no-bullet(0,0);
	
	& a {
		padding: 15px 15px 15px 40px;
		display: block;
		text-decoration: none;
		width: auto;
		color: $mobile-nav-text-color;
		@include border-bottom($mobile-nav-border-color);
		@include font-size(18px);
		
		&:hover,
		&:active {
			background-color: $mobile-nav-bg-hover-color;
			color: $mobile-nav-text-hover-color;
			text-decoration: none;
		}
		
	}
}


/*---------------------------------------

 SUB NAV
 
---------------------------------------*/

.mobile-nav ul ul {
	background-color: $mobile-subnav-bg-color;
}
.mobile-nav .sub-nav {
	padding: 10px 10px 10px 80px;
	@include font-size(14px);
	
	&:before {
		font-family: $arrowicons;
		content:"\33";
		position: relative;
		left: -20px;
	}
}
