/*-------------------------------------------------------
---------------------------------------------------------

 MAIN NAVIGATION - mobile
 
---------------------------------------------------------
--------------------------------------------------------*/


/*------------ MOBILE NAV----------- */

/* show/hide nav button */

#block-superfish-1 .omega-mobile-only a.show-link {
	width: auto;
	/* negates show-link class positioning */
	left: 0;
	top: 0;
	margin-left: 0;
}

@include breakpoint($small-only) {
	#zone-menu-wrapper {
		margin-bottom: 30px;
	}
	.omega-mobile-only ul.main-menu {
		margin: 0;
		padding: 0;
		
		// hide subnav
		ul {
			display: none;
		}
		
		li {
			list-style-type: none;
			margin: 0 0 4px 0;
			padding: 0;
			list-style-image: none;
			text-align: center;
			float: none;
			
			a {
				padding: 10px;
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				width: auto;
				color: $mobile-nav-text-color;
				background-color: $mobile-nav-bg-color;
				@include border-radius(5px);
				@include font-size(17px);
			}
		}		
	}
}