/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 MP3 Player
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

/*----------------------------
 360 player
----------------------------*/

/* "Listen" Label */
span.listen-label {
	display: inline-block;
	padding: 17px 0;
	color: $popup-title-color;
}
span.listen-label:before {
	border: 2px solid #666666;
	@include border-radius(15px);
	color: $popup-title-color;
	content: "L";
	font-family: $basicicons;
	@include font-size(14px);
	margin-right: 7px;
	padding: 4px;
}
.sm2-360ui {
	float: none;
}
.song-popup-player {
	padding-top: 5px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
}
.song-popup-title {
	border-top: $popup-button-border-color;
	padding-top: 20px;
}

/*----------------------------
 360 player - play button 
-------------------------------*/

.ui360, .ui360 .sm2-360btn-default, /* play */
.ui360 .sm2-360ui.sm2_paused .sm2-360btn {
	background: transparent url(../images/buttons_player_sm.png) no-repeat scroll 16px -1584px;
}
.ui360 .sm2-360btn-default:hover, /* play hover */
.ui360 .sm2-360ui.sm2_paused .sm2-360btn:hover {
    background: transparent url(../images/buttons_player_sm.png) no-repeat scroll 16px -1484px;
    cursor: pointer;
}
/* player is paused - hover */
.ui360 .sm2-360ui.sm2_paused .sm2-360btn:hover {
	background: transparent url(../images/buttons_player_sm.png) no-repeat scroll 2px -1498px;
}

/* 360 player - Pause */
.ui360 .sm2-360ui.sm2_paused .sm2-360btn,
.ui360 .sm2-360ui.sm2_playing .sm2-360btn:hover, 
.ui360 .sm2-360btn-playing:hover {
    background: transparent url(../images/buttons_player_sm.png) no-repeat scroll 2px -1698px;
    cursor: pointer;
}