/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 MAIN NAVIGATION
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

@include breakpoint($medium-up) {
	.zone-menu-wrapper {
		background-color: #444;
		z-index: 998; /* one less than #fantorrent-user-bar */
		position: fixed;
	    top: 40px;
	    width: 100%;
	    margin: 0;
	}
}	
.omega-narrow-up ul.main-menu li {
	float: left;
	margin: 0;
	height: auto;

	&:hover {
		background-color: $nav-button-bg-hover-color;
	}
	
	a {
		background-color: $nav-button-bg-color;
		color: $nav-text-color;
		font-weight: normal;
		
		line-height: 1;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		@include transition(all, 0.2s, ease-in);
		@include border-radius(0);
		
		@include breakpoint($medium-only) {
			@include font-size(16px);
			padding: 10px 13px;
		}
		@include breakpoint($large-only) {
			padding: 15px 20px;
		}
		@include breakpoint($xlarge-up) {
			padding: 15px 20px;
		}
		
		&:hover {
			background-color: $nav-button-bg-hover-color;
			text-decoration: none;
		}		
	}
}


/*---------------------------------------------
 
 Sub navigation - Main menu
 
----------------------------------------------*/

.omega-narrow-up ul.main-menu ul {
	background-color: rgba(0,0,0,0.6);
	margin-left: 0px;
	margin-top: 6px; /* this controls how close the subnav is to the main nav vertically */
	display: block;
	
	li {
		padding: 0;
		height: auto;
		float: left;
		width: auto;
		border-right: 1px solid #888;
		
		&.last {
			border-right: 0;
		}
		
		a {
			text-shadow: none;
			text-align: left;
			display: block;
			color: $subnav-text-color;
			
			@include breakpoint($medium-only) {
				@include font-size(14px);
				padding: 8px;
			}
			@include breakpoint($large-only) {
				padding: 10px;
			}
			@include breakpoint($xlarge-up) {
				padding: 10px;
			}
			
			&:hover {
				background-color: #777;
				color: #fff;
			}
		}
	}
}

/*-----------------------------------
 Specific sub-nav menus 
-----------------------------------*/

/* generic to be replaced */
#block-superfish-1 ul ul {
	min-width: 250px;
}