//------------------------------------------------------
//
//	NAVIGATION - Main site navigation - non-mobile
//
//	location: 
//      /sass/components/_navigation.scss
//
//------------------------------------------------------



.l-region--header {
	@include breakpoint($small-only) {
		display: none;
	}
	
	@include breakpoint($medium-up) {
		display: block;
		position: relative; // was fixed pos
		//top: 50px;
		left: 0;
		width: 100%;
		z-index: 9997;
		background-color: $nav-bar-bg-color;
		min-height: 59px;
		//overflow: hidden;
	}
	
	// List items
	.menu {
		margin: 0;
		padding: 0;
		overflow: visible;
		position: relative;
		
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: left;
			position: relative;
			
			&.leaf {
				list-style-image: none;
			}
			&.collapsed {
				list-style-image: none;
			}
			&.expanded {
				list-style-image: none;
			}
			
			// keeps main nav link in a persistent hover state while cursor moves to subnav list
			&:hover > a {
				background-color: $nav-button-bg-hover-color;
				color: $nav-text-hover-color;
			}
			
			// Nav button links
			> a {
				padding: 15px 20px;
				display: block;
				color: $nav-text-color;
				background-color: $nav-button-bg-color;
				@include font-size(18px);
				
				&:hover {
					color: $nav-text-hover-color;
					background-color: $nav-button-bg-hover-color;
					text-decoration: none;
				}
			}
			
			/* sub nav menus */
			ul.menu {
				position: absolute;
				top: 59px;
				left: 0;
				min-width: 300px;
				//display: none;
				visibility: hidden;
				@include transition-opacity;
				background-color: #777;
				left: -9999px; // hide offscreen when not needed - more accessible than display:none
			
				li {
					float: left;
					
					a {
						padding: 10px 15px;
						color: #fff;
						@include font-size(14px);
					}
				}
			}
			
			// show sub-menu on hover
			&:hover ul.menu {
				display: block;
				opacity: 1;
				visibility: visible;
				left: 0;
			}
		}
	}
}
