/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 General SIDEBAR BLOCK Styles 
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/


// all sidebar block containers

.l-region--sidebar {
	
	.block {
		position: relative;
		margin-bottom: $vert-spacing-unit;
		background-color: $sidebar-block-bg-color;
		color: $sidebar-text-color;
		padding: 0; 
	}

	// Sidebar block title
	h2.block__title{
		color: $sidebar-block-title-color;
		border-bottom: 0;
		padding: 4% $sidebar-block-padding;
		margin: 0;
		background-color: $sidebar-block-title-bg-color;
		@include font-size(24px);
	}
	
	// Padding around content list
	
	.view-content,
	.view-empty {
		padding: $sidebar-block-padding;
	}
	
	// Sidebar list & grid rows
	.list-row {
		border-color: $sidebar-border-color;
		line-height: 1.3;
	}
	.grid-row {
		line-height: 1.3;
		width: 48%;
		margin: 0 4% 4% 0;
		border-bottom: 0;
		@include font-size(12px);
	}
	
	// sidebar block link colors
	.block a {
		color: $sidebar-link-color;
		
		&:hover {
			color: $sidebar-link-hover-color;
		}
	}
	
	// Sidebar Button Colors
	.button a,
	a.button {
		background-color: $sidebar-button-bg-color;
		color: $sidebar-button-text-color;
		
		&:hover {
			background-color: $sidebar-button-bg-hover-color;
			color: $sidebar-button-text-hover-color;
		}
	}
	
	// Sidebar row content titles
	.views-field-title {
		font-size: 14px;
	}
	
	// grid row item titles
	.grid-row .views-field-title {
		text-align: center;
		padding: 5px;
	}
	
	// More Link - sidebar blocks only
	.more-link,
	.view-footer {
		position: relative;
		
		a {
			background-color: $sidebar-more-link-bg-color;
			color: $sidebar-more-link-text-color;
			padding: 10px;
		}
		
		a:hover {
			background-color: $sidebar-more-link-bg-hover-color;
			color: $sidebar-more-link-text-hover-color;
		}
	}
}
