/*-------------------------------
 
 Social Icons
 
--------------------------------*/

.social-links {
	
	@include breakpoint($large-up) {
		float: right;
		padding-top: 25px;
	}
}

.social-links ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
	
	@include breakpoint($small-and-medium) {
		text-align: center;
	}
	
	& li {
		margin: 0 7px 7px 0;
		padding: 0;
		display: inline-block;
		list-style-type: none;
		border: 0;
	}
	
	& li:last-child {
		margin-right: 0;
	}
}
.social-links a {
	margin: 0;
	padding: 10px;
	text-align: center;
	width: 50px;
	display: block;
	position: relative;
	color: $social-icon-color;
	background-color: $social-icon-bg-color;
	
	// hover state
	&:hover {
		color: $social-icon-hover-color;
		background-color: $social-icon-bg-hover-color;
	}
	
	i {
		font-size: 45px;
	}
	span.title {
		display: none;
	}
}

