/*---------------------------------------------------------------------
-----------------------------------------------------------------------

                *****   USER BAR   *****

-----------------------------------------------------------------------
---------------------------------------------------------------------*/


// Container for userbar, nav, cart, messages
.l-top-wrapper {
	@include breakpoint($medium-up){
		position: fixed;
		width: 100%;
		z-index: 100;
		top: 0;
	}
}

// Logged in - position adjustment
.logged-in.toolbar .l-top-wrapper {
	@include breakpoint($medium-up){
		top: 30px;
	}
}
// user menu
.logged-in.toolbar .user-menu-links {
	@include breakpoint($medium-up){
		top: 80px;
	}
}


// userbar outer wrapper
.l-userbar {
	background-color: #ccc;
	padding: 0px;
	@include font-size(12px);
	z-index: 9998;
	min-height: 50px;
	overflow: hidden;
	position: relative;
	
	@include breakpoint($medium-up) {
		background-color: $userbar-bg-color;
		//position: fixed;
		width: 100%;
		top: 0;
	}
}
.l-userbar-inner,
.l-region--user-bar {
	position: relative;
}


/* negates contrained width */
.l-userbar .l-constrained {
	width: 100%;
	margin: 0;
} 

/* Site Name */
h1.site-name {
	display:none;
	
	@include breakpoint($small-only) {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
	    @include font-size(25px);
	    text-align: center;
	    padding: 10px 50px;
	    height: 50px;
	    max-height: 50px;
	    line-height: 1.2;
	    vertical-align: middle;
	    margin: 0;
	    z-index: 0;
	    
	    & a {
	    	display: block;
		    color: $site-name-text-color;
	    }
    }
}


