// ------------------------------
// Typography Mixins
// ------------------------------


// Use REMs with a pixel fallback for font sizing.
@mixin font-size($font-size){
	font-size: $font-size;
	font-size: ($font-size / $base-font-size)*1rem;
}


// Titles
@mixin title-style {
	font-family: $title-font-family;
	font-weight: $title-font-weight;
	margin: $title-margin;
	color: $title-color;
}


// Social Icons
@mixin social-icon {
	margin: 0;
}