/*------------------------------------------------------
--------------------------------------------------------

 GALLERY - page
 
--------------------------------------------------------
------------------------------------------------------*/

/*-------------------------------

 Gallery Filter links
  
---------------------------------*/

.gallery-years-view ul {
	margin: 0 0 30px 0;
	@include border-bottom($border-color);
	overflow: hidden;
	padding: 0 0 20px 0; /* 20px padding + 10px margin on filter <li> = 30px */
	
	li {
		list-style-type: none;
		margin: 0 10px 10px 0;
		padding: 0;
		float: left;
		
		a {
			display: block;
			padding: 3px 5px;
			@include border-all($border-color);
			text-decoration: none;
			color: $text-color;
			@include border-radius(3px);
		}
		
		& a:hover, .active a, a.active {
			background-color: $button-bg-hover-color;
			color: $button-text-hover-color;
			border-color: $button-bg-hover-color;
			text-decoration: none;
		}
	}
}

/*-------------------------------

 Gallery Items
 
---------------------------------*/

// inline position:absolute from js by default
.gallery-image-item,
.gallery-video-item {
	margin-bottom: 15px;
	padding: 0;
	background-color: #fff;
	@include transition-all;
	width: 270px;
	
	&:hover {
		@include box-shadow(0, 0, 8px, #ccc);
	}

}
.gallery-video-item, 
.gallery-video-item-mobile {
	z-index: 1;
	
	&:before {
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		content: "\74";
		font-family: $basicicons;
		display: block;
		background-color: rgba(0,0,0,0.8);
		padding: 5px;
		color: #aaa;
		font-size: 20px;
		speak: none;		
	}
}
.gallery-item a {
	display: block;
}

/*-------------------------------

 Gallery image info *
 
---------------------------------*/

.gallery-image-info-inline {
	padding: 10px;
	@include font-size(11px);
	line-height: 14px;
	@include border-all($border-color);
	border-top: 0;
}
.gallery-info-title {
	margin-bottom: 3px;
	width: 245px;
}
.gallery-info-comment-count {
	float: left;
	margin-right: 10px;
}

// Icons
.gallery-info-comment-count:before,
.gallery-info-photos-count:before {
	content: "\35";
	font-family: $basicicons;
	font-size: 11px;
	line-height: 13px;
	display: inline-block;
	margin-right: 2px;
	vertical-align: middle;
	color: $text-color;
	position: relative;
	top: -1px;
	speak: none;
}
.gallery-info-photos-count:before {
	content: "\65";
	top: -2px;
	speak: none;
}

/*-------------------------------

 Gallery - Mobile Only
  
---------------------------------*/

.page-gallery-m .gallery-image-item-mobile,
.page-gallery-m .gallery-video-item-mobile,
.page-gear-m .gallery-image-item-mobile {
	margin-bottom: 20px;
	width: 100%;
	background: #fff;
	position: relative;
}
.page-gallery-m .gallery-image-item-mobile img,
.page-gallery-m .gallery-video-item-mobile img,
.page-gear-m .gallery-image-item-mobile img {
	width: 100%;
	height: auto;
}
.page-gallery-m .gallery-image-item-mobile .gallery-info-title,
.page-gallery-m .gallery-video-item-mobile .gallery-info-title,
.page-gear-m gallery-image-item-mobile .gallery-info-title {
	width: auto;
}
