/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 SIDEBAR BLOCK - featured products 
 
-----------------------------------------------------------------------
----------------------------------------------------------------------*/

.view-store-items-slideshow {
	position: relative;
}

.view-store-items-slideshow .views-slideshow-cycle-main-frame-row {
	width: 100% !important;
	line-height: 1.4;
	@include font-size(14px);
}

.view-store-items-slideshow .views-field-commerce-price {
	margin: 10px 0;
	@include font-size(18px);
}

/*--------------------------------

 PRODUCT TITLE
 
---------------------------------*/

.view-store-items-slideshow .views-field-title {
	@include font-size(18px);
}

/*-------------------------------

 IMAGES 
 
-------------------------------*/

.view-store-items-slideshow .views-field-field-images-1 {
	margin-bottom: 10px;
	@include border-all($border-color);
}


/*-------------------------------

 BUY NOW link
 
--------------------------------*/

.view-store-items-slideshow .views-field-view-node {
	text-align: right;
	@include font-size(17px);
	
	a:hover {
		text-decoration: none;
	}

	a:after {
		background-color: transparent;
		content: "\2f";
		display: inline-block;
		font-family: $arrowicons;
		font-size: 21px;
		height: 22px;
		line-height: 22px;
		overflow: hidden;
		padding: 0;
		vertical-align: middle;
		width: 20px;
		speak: none;
	}
}


/*-------------------------------

 SLIDESHOW CONTROLS 
 
------------------------------*/

.view-store-items-slideshow .views-slideshow-controls-text-pause {
	display: none;
}

.view-store-items-slideshow .views-slideshow-controls-text-previous,
.view-store-items-slideshow .views-slideshow-controls-text-next {
	display: block;
	height: 0;
	padding-top: 42px;
	width: 35px;
	position: absolute;
	top: 31%;
	overflow: hidden;
	@include opacity(.4);
	z-index: 10;
	background-color: #000;
	@include transition-opacity;
	
	&:hover {
		@include opacity(1);
	}
}

/*----- PREVIOUS ------*/
.view-store-items-slideshow .views-slideshow-controls-text-previous {
	left: 0px;
	@include border-radius(0 5px 5px 0);
	
	&:before {
		font-family: $arrowicons;
		content: "\2e";
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 30px;
		line-height: 40px;
	}
}

/*----- NEXT -----*/
.view-store-items-slideshow .views-slideshow-controls-text-next {
	right: 0px;
	@include border-radius(5px 0 0 5px);
	
	:before {
		font-family: $arrowicons;
		content: "\2f";
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 30px;
		line-height: 40px;
	}
}
