/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 STORE - landing

-----------------------------------------------------------------------
----------------------------------------------------------------------*/


/*----------------------------------------------

 STORE BANNERS  
 (they are hidden in mobile by .omega-narrow-up class

-----------------------------------------------*/

.view-store-landing .view-header {
	overflow: hidden;
	clear: both;
}

// container for each banner
.view-store-landing .view-banner {
	float: left;
	margin-bottom: 30px;
	width: 49% !important;
	margin-right: 2%;
	height: auto;
	
	&:nth-child(2) {
		margin-right: 0;
	}

	.views-field-field-images-1 {
		height: auto;
		margin-bottom: 0px;
		overflow: hidden;
		@include border-all($border-color);
	}
	
	// hide titles and slide controls
	.views-field-title,
	.views-slideshow-controls-bottom {
		display: none;
	}
}

// show promotions toggle button
.view-store-landing a.show-link.button {
	max-width: 250px;
	margin-left: 0px;
	left: 0;
	margin-bottom: 30px;	
}

// below show/hide promotions button
.view-store-landing .attachment-before {
	margin: 0px;
}


/*----------------------------------------------

 TOP DOWNLOADS LIST  ---- mobile

-----------------------------------------------*/

//------------- container -------------
.view-store-landing .view-display-id-dl_shows { 
	clear: both;
	overflow: hidden;
	padding: $vert-spacing-unit 0;
	@include border-bottom($border-color);
	margin-bottom: $vert-spacing-unit;
}

//--------------- rows ---------------
.view-store-landing .view-display-id-dl_shows .views-row {
	position: relative;
	@include border-bottom($border-color);
	margin-bottom: $vert-spacing-unit/3;	
	padding-bottom: $vert-spacing-unit/3;
	
	// no border on last item
	&-last {
		border: 0;
	}
	
	@include breakpoint($large-up) {
		float: left;
		margin: 0 1% 1% 0;
		@include border-all($border-color);
		padding: 0px;
		text-align: left;
		width: 32%;
		@include border-radius(10px);
		
		&:hover {
			background-color: $subtle-accent;
		}
	}
}

//------------- row content ------------
.top-downloads-list-item {
	padding: 10px 10px 10px 55px;
	
	&:before {
		content: "\e00f";
		display: block;
		float: left;
		font-family: $basicicons;
		font-size: 35px;
		height: 55px;
		left: 10px;
		line-height: 40px;
		margin-right: 10px;
		padding: 0;
		position: absolute;
		top: 15px;
		width: 35px;
	}
	
	.legacy-event-date-top,
	.legacy-event-date-bottom {
		line-height: .882; /* 15px */
		@include font-size(17px);
		display: inline-block;
		vertical-align: middle;
	}
	.legacy-event-date-top:after {
		content: ", ";
	}

	.legacy-event-location {
		@include font-size(19px);
		line-height: 1.2;
	}
	.legacy-event-venue {
		@include font-size(11px);
		line-height: 1.2;
	}
}


/*---------------------------------------------

 DEPARTMENT NAVIGATION

----------------------------------------------*/

#views-exposed-form-store-landing-page {
	padding-bottom: 10px;
	margin-bottom: $vert-spacing-unit;
	@include border-bottom($border-color);
}

// Department nav container
#edit-department-id-wrapper {
	float: none;
	overflow: hidden;
	padding: 0;
	margin-bottom: 10px;
}

// Dept label
#edit-department-id-wrapper label[for*="department"] {
	margin-bottom: 10px;
}

// Dept nav item
#edit-department-id.form-radios .form-item {
	float: left;
	text-transform: uppercase;
	@include border-all($border-color);
	@include border-radius($border-radius);
	margin: 0 10px 5px 0;
	padding: 7px 15px;
	@include transition-all;
	
	&:hover {
		background-color: $subtle-accent;
	}
}


// Dept nav item - label
#views-exposed-form-store-landing-page .views-exposed-form label.option {
	font-weight: normal;
	@include font-size(12px);
	
	@include breakpoint($large-up) {
		@include font-size(14px);
	}
}

// Dept nav item - radio button
#views-exposed-form-store-landing-page .views-exposed-form input {
	margin-right: 2px;
}

// pointer cursor for buttons
#edit-department-id.form-radios .form-item,
#views-exposed-form-store-landing-page .views-exposed-form label.option,
#views-exposed-form-store-landing-page .views-exposed-form input {
	cursor: pointer;
}


/*---------------------------------------------

 PRODUCT STATUS CHECKBOXES 
 (sale, closeout, presale, etc)

---------------------------------------------*/

#edit-status-id-wrapper {
	float: none;
	overflow: hidden;
	padding: 5px 0;
	
	.form-checkboxes .form-item,
	.form-checkboxes .bef-toggle {
		float: left;
		margin-right: 15px;
		font-weight: normal;
		padding: 0;
	}

	// checkbox
	.bef-checkboxes input {
		margin-right: 2px;
		vertical-align: middle;
	}
}


/*---------------------------------------------

 "SORT BY" Select Box

----------------------------------------------*/

#views-exposed-form-store-landing-page .views-submit-button {
	float: none;
	overflow: hidden;
	height: 40px;
}
#views-exposed-form-store-landing-page .views-submit-button label {
	float: left;
	margin-right: 10px;
}


/*---------------------------------------------

 STORE PRODUCTS LISTING

----------------------------------------------*/

.page-store .page-main-content .teaser-grid ul { /* overwrites default */
	overflow: visible;
}

// product list container
.view-store-landing .page-main-content {
	@include breakpoint($medium-up) {
		width: 58%;
		margin-right: 2%;
		min-height: 1060px;
	}
}

// product list items
.page-store .view-store-landing .item-list li {
	@include border-all($border-color);
	padding: 5px;
	
	@include breakpoint($small-only) {
		margin: 0 3% 10px 0;
		width: 42%;
		position: relative;
	}
	@include breakpoint($medium-up) {
		margin: 0 3% 3% 0;
		width: 30%;
		@include transition-all;
		background-color: #fff;
		
		&:hover {
			background-color: $primary-color;
		}
		
		// allows popup to align with product thumbnail vertically
		a {
			display: block;
		}
	}
}

// Selected product - the item with details revealed
li.product-featured  {
	@include box-shadow(0,0,8px,$primary-color);
}
li.product-featured img {
	@include opacity(.5);
}

// price container
.page-store .teaser-grid-row .product-price {
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	bottom: 5px;
	left: 5px;
	position: absolute;
	z-index: 2;
	
	// price
	.field-commerce-price {
		background-color: #000;
		color: #fff;
		@include font-size(13px);
		margin: 0;
		padding: 3px 5px;
	}
}

// Product details popup
.store-page-popup {
	@include breakpoint($small-only) {
		display: none !important;
	}
	@include breakpoint($medium-up) {
		width: 40%;
		right: 0;
		display: block !important; 
	}
	
	.view-content {
		margin: 0;
		width: 100%;
	}
	
	.popup-main-content {
		padding: 20px;
		background-color: $popup-bg-color;
		@include border-radius(7px);
		margin-bottom: $vert-spacing-unit;
		position: relative;
		z-index: 10;
		
		// CSS3 arrow
		&:before {
			border-bottom: 20px solid transparent;
			border-right: 20px solid $popup-bg-color;
			border-top: 20px solid transparent;
			content: "";
			display: block;
			height: 0;
			left: -19px;
			overflow: hidden;
			position: absolute;
			top: 30px;
			width: 0;
			z-index: 1;
		}
	}
}

/*-------------------------------------------

 PRODUCT IMAGES - triggers Colorbox popup
 
--------------------------------------------*/

.store-page-popup .first-item {
	width: 100%;
	@include border-all($popup-border-color);
	margin-bottom: 5px;
}

// thumbnails
.store-page-popup .not-first-items-container {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
.store-page-popup .not-first-item {
	background-color: #fff;
	@include border-all($popup-border-color);
	float: left;
	margin: 0 5% 5% 0;
	width: 20%;
	
	&:last-child {
		margin-right: 0;
	}
}


/*--------------------------------------------

 PRODUCT INFO 
 
---------------------------------------------*/

// title
.store-page-popup .title { 
	@include font-size(20px);
	margin-bottom: 10px;
	line-height: 1.2;
	font-weight: bold;
	color: $popup-title-color;
}

// price - hide- use price in cart form instead
.store-page-popup .product-price { 
	display: none;
}

// body
.store-page-popup .body { 
	@include font-size(12px);
	line-height: 1.4;
	margin-bottom: 15px;
	
	p:last-child {
		margin-bottom: 0;
	}
}


/*---------------------------------------------

 QUANTITY & ADD TO CART buttons
 
----------------------------------------------*/

// Price

.store-page-popup .add-to-cart-bottom .form-type-item {
	@include font-size(24px);
	color: $popup-title-color;
}

// add to cart
.store-page-popup .add-to-cart-form .form-submit {
	width: 100%;
	padding: 20px 10px;
	background-color: $popup-cart-button-bg-color;
	color: $popup-cart-button-text-color;
	
	&:hover {
		background-color: $popup-cart-button-bg-hover-color;
		color: $popup-cart-button-text-hover-color;
	}
}

// more button
.store-page-popup a.button {
	background-color: $popup-button-bg-color;
	color: $popup-button-text-color;
	margin-top: 15px;
	@include border-all($popup-border-color);
	
	&:hover {
		background-color: $popup-button-bg-hover-color;
		color: $popup-button-text-hover-color;
	}
}
