/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 STORE - PRODUCT NODES

-----------------------------------------------------------------------
----------------------------------------------------------------------*/

#store-departments-links-container {
	clear: both;
	overflow: hidden;
}
#store-departments-links-container h2 {
	display: none;
}
#store-departments-links-container .views-row {
	float: left;
	margin: 0 5px 0 0;
}
#store-departments-links-container a {
	text-transform: uppercase;
	border: 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 8px;
	margin-bottom: 5px;
	display: block;
	text-decoration: none;
}
#product-middle-row1-container {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}


/*--------------------------------------------

 Product images 
 
---------------------------------------------*/

#product-image-container {
	width: 100%;
	margin-bottom: 10px;
}
#product-image-container .first-item,
#product-image-container .not-first-item {
	padding: 5px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	background-color: #fff;
}

/* Product Img thumbnails */
#product-image-container .not-first-items-container {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
#product-image-container .not-first-item {
	float: left;
	margin-right: 3%;
	width: 18.5%;
}
#product-image-container .not-first-item:last-child {
	margin-right: 0;
}



/*----------------------------------------------

 PRODUCT STATUS - (new, sale, etc.) 
 
-----------------------------------------------*/

.product-status {
	display: block;
	width: 35px;
	height: 55px;
	position: absolute;
	top: 0px;
	left: 8px;
	z-index: 1;
}

/* statuses */
.product-status-new {
	background: transparent url(../images/product-status-icons.png) no-repeat scroll left top;
}
.product-status-sale {
	background: transparent url(../images/product-status-icons.png) no-repeat scroll left -100px;
}
.product-status-presale {
	background: transparent url(../images/product-status-icons.png) no-repeat scroll left -200px;
}
.product-status-sold-out {
	background: transparent url(../images/product-status-icons.png) no-repeat scroll left -300px;
}
.product-status-closeout {
	background: transparent url(../images/product-status-icons.png) no-repeat scroll left -400px;
}
.product-status-album {

}

/*----------------------------------------------

 PRODUCT INFO 

-----------------------------------------------*/

#product-info-container {
	margin-bottom: 30px;
}

/*----------------------
 Product  title 
------------------------*/

#product-info-container h1 {
	border-bottom: 0;
	font-size: 1.750em; /* 28px */
	text-transform: none;
	margin-bottom: 20px;
}

/* Product Price - under h1 - duplicate */
.node-type-product .price .field-commerce-price {
	display: none;
}

/*-----------------------
 Add to Cart Price 
------------------------*/

.add-to-cart-bottom .form-type-item {
	font-size: 1.5em; /* 24px */
	margin-top: .5em;
	margin-bottom: .5em;
}
.add-to-cart-bottom .form-type-item label {
	display: none;
}

/*-----------------------
 Product Tags 
------------------------*/

#product-tags-container {
	overflow: hidden;
	margin: 20px 0;
}
#product-tags-container a {
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	display: block;
	float: left;
	font-size: 0.688em; /* 11px */
	height: 14px;
	line-height: 160%;
	margin-right: 10px;
	vertical-align: middle;
	text-transform: uppercase;
}
#product-tags-container:before {
	content: "\e004";
	font-family: "IcoMoonBasic";
	font-size: 15px;
	margin-right: 5px;
	vertical-align: middle;
	display: block;
	float: left;
	line-height: 15px;
	speak: none;
}

/*----------------------------------------------

 SIZES 
 
----------------------------------------------*/

.add-to-cart-form label {
	font-weight: normal;
	font-size: 0.875em; /* 14px */
}

/* inserts a colon after the word "select size" */
.commerce-add-to-cart .form-type-radios > label[for*="edit-attributes-field-product-bulk-size"]:after, 
.commerce-add-to-cart .form-type-item > label[for*="edit-display-price"]:after {
	content: ":";
}

/* buttons container */
.commerce-add-to-cart .form-type-radios { 
	overflow: hidden;
	clear: both;
	padding: 0;
	margin: 0;
}

/* size buttons */
.commerce-add-to-cart .form-type-radios .form-item {
	background-color: transparent;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 1px 6px 4px;
	float: left;
	margin-right: 5px;
	border: 1px solid #aaa;
}

.commerce-add-to-cart .form-type-radios .form-item:hover {
	background-color: darkorange;
	border-color: darkorange;
	color: #fff;
}
.commerce-add-to-cart .form-type-radios .form-item label.option {
	font-size: 0.688em; /* 11px */
}

/* hover states */
.commerce-add-to-cart .form-radios .form-item:hover,
.commerce-add-to-cart .form-radios .form-item label.option:hover,
.commerce-add-to-cart .form-radios .form-item input.form-radio {
	cursor: pointer;
}

/* Store page Pop-up only - overrides */
.store-page-popup .commerce-add-to-cart .form-type-radios { 
	overflow: hidden;
	clear: both;
	padding: 15px 0 0;
	margin: 1em 0;
	border-top: 1px dashed #aaa;
}
.store-page-popup .commerce-add-to-cart .form-type-radios .form-item {
	background: #444;
	color: #fff;
	border: 0;
}

/*-----------------------------------------------

 QUANTITY & ADD TO CART buttons
 
------------------------------------------------*/

#product-info-container .field-name-field-product-reference {
	margin-bottom: 30px;
}

/* quantity */
.form-item-quantity {
	margin: 20px 0;
	padding-bottom: 15px;
}
.form-item-quantity label {
	float: left;
	margin-right: 5px;
}
.form-item-quantity label:after {
	content: ":";
}

/* add to cart */
.commerce-add-to-cart {
	background-color: #eee;
	margin-bottom: 20px;
	padding: 20px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* store popup only - overrides */
.store-page-popup .commerce-add-to-cart {
	background-color: transparent;
	padding: 0;
	border-radius: 0;
}
.commerce-add-to-cart .form-submit {
	display: block;
	font-size: 1.250em; /* 20px */
	padding: 20px;
	text-transform: uppercase;
}

/*-----------------------------------------------

 ADD TO CART popup confirmation message
 
------------------------------------------------*/

/* Message */
#cart-popup-item-message {
	font-size: 1.5rem; /* 24px */
	height: 70px;
}
#cart-popup-links-container {
	padding-left: 20px;
}

/* "Success!" text */
#cart-popup-header {
	background-color: #A7CD62;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: block;
	font-size: 1.875rem; /* 30px */
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}

/* Cart links */
#cart-popup-links-container a {
	font-size: 1rem; /* 16px */
	line-height: 1.6;
}
#cart-popup-cart-link-container:before, 
#cart-popup-checkout-link-container:before, 
#cart-popup-store-link-container:before, 
#cart-popup-browse-link-container:before {
	color: #999999;
	content: "\27";
	font-family: IcoMoonArrows;
	font-size: 17px;
	margin-right: 10px;
	position: relative;
	top: -3px;
	vertical-align: middle;
}


/*----------------------------------------------
 
 SOCIAL NETWORK LINKS 
 
----------------------------------------------*/

.node-type-product .share-links-container {
	display: none;
}












/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 STORE - PRODUCT NODES
 
-----------------------------------------------------------------------
----------------------------------------------------------------------*/

/* images */
#product-image-container {
	width: 40%;
	margin-right: 5%;
}

/* info */
#product-info-container {
	width: 55%;
	border: 0;
}

/* title */
#product-info-container h1 {
	border-bottom: 0;
	font-size: 1.875em; /* 30px */
	text-transform: none;
}



/*-----------------------------------------------------------
 
 SOCIAL NETWORK LINKS 
 
-----------------------------------------------------------*/

.node-type-product .share-links-container {
	display: block;
	border-bottom: 0;
	border-top: 1px dashed #ccc;
}
.store-page-popup .share-links-container {
	border: 0;
}






// NORMAL LAYOUT

/*-----------------------------------------------------
-------------------------------------------------------

 STORE - NODE

-------------------------------------------------------
-----------------------------------------------------*/

/* Comments */
#product-comments-container {
	margin-right: 3%;
	width: 60%;
	float: left;
	border: 0;
}

/* Top Downloads */
#product-top-downloads-container {
	float: right;
	width: 37%;
	padding: 0;
}
#product-top-downloads-container .teaser-list-row:first-child {
	padding-top: 0;
}
