/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 PRODUCT HIGHLIGHT - JOIN

-----------------------------------------------------------------------
----------------------------------------------------------------------*/

/*------------------------------------------

 Intro section - description 
 
------------------------------------------*/

.block-product-highlight-intro {
	margin-bottom: 50px;
	border-bottom: 4px double #aaa;
	padding-bottom: 50px;
	font-size: 1.125em; /* 18px */
}
.block-product-highlight-intro p:last-child {
	margin-bottom: 0;
}

/*-----------------------------------------

 Product List 
 
------------------------------------------*/

.page-store-product-highlight .view-product-highlight .views-row {
	overflow: hidden;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 4px double #aaa;
}

/*-------------------------
 Product Images 
--------------------------*/
.view-product-highlight .highlight-product-image {
	margin-bottom: 20px;
}

/*---------------------------
 product title 
-----------------------------*/
.view-product-highlight .highlight-product-title {
	line-height: 120%;
	font-size: 1.250em; /* 20px */
	font-weight: bold;
	margin-bottom: 20px;
}

/*----------------------------
 product body 
----------------------------*/

.highlight-product-body li {
	margin-left: 30px;
}

/*---------------------------
 Add to Cart 
-----------------------------*/

.view-product-highlight .commerce-add-to-cart {
	margin-bottom: 0px;
}

/* format label */
.view-product-highlight .form-type-radio label {
	margin-left: 10px;
}

/* Price */
.view-product-highlight .add-to-cart-bottom label {
	display: none;
}
.view-product-highlight .add-to-cart-bottom .form-item {
	font-size: 1.5em; /* 24px */
}

/* Overrides inherited content width from main store list page */
.page-store.page-store-product-highlight .page-main-content {
	margin: 0;
	width: auto;
}







/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 PRODUCT HIGHLIGHT - JOIN PAGE

-----------------------------------------------------------------------
----------------------------------------------------------------------*/

/*------------------------------------------

 Intro section - description 
 
------------------------------------------*/

.block-product-highlight-intro {
	font-size: 1.5em; /* 24px */
	line-height: 1.5;
}
.block-product-highlight-intro h3 {
	font-size: 3.125em; /* 50px */
	line-height: 1.2;
}

/*-----------------------------------------

 Product List 
 
------------------------------------------*/

.page-store-product-highlight .view-product-highlight .views-row {
	overflow: hidden;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 4px double #aaa;
}
.view-product-highlight .highlight-product-title,
.view-product-highlight .highlight-product-body,
.view-product-highlight .highlight-product-atc,
.view-product-highlight .highlight-product-edit-link {
	margin: 0 0 0 35%;
}

/*-------------------------
 Product Images 
--------------------------*/

.view-product-highlight .highlight-product-image {
	width: 30%;
	height: auto;
	float: left;
	margin-right: 5%;
}

/*---------------------------
 product title 
-----------------------------*/
.view-product-highlight .highlight-product-title {
	font-size: 1.875em; /* 30px */
}
