/*------ CSS for common_support_teaser-1.tpl.php ------*/


/* MOBILE - $small-up = min-width: 0 */
@media (min-width: 0em) {
	.col-1-wrapper {
		margin-bottom: 2.5rem;
	}
}

/* TABLET - $medium-up = min-width: 641px */
@media (min-width: 40.063em)  {
	.col {
		float: left;
	}
	.col-1-wrapper {
		margin-right: 5%;
		width: 35%;
	}
	.col-2-wrapper {
		width: 60%;
	}
}
