
// ---------------------------------------
// Sitewide defaults
//----------------------------------------

// default sitewide background attributes
$background-bg-size: 100% auto;
$background-bg-attachment: fixed;
$background-position: center top;

// Default background image / color
$default-bg: #fff;
$default-mobile-bg: #fff;


// Product logo/icons
$pcc-icon: url(../../../images/icon-pcc.png) no-repeat scroll center top;
$m2o-icon: url(../../../images/icon-m2o.png) no-repeat scroll center top;
$odp-icon: url(../../../images/icon-odp.png) no-repeat scroll center top;


// HOME page
$home-bg: $default-bg;
$home-mobile-bg: $default-mobile-bg;

// DISCOGRAPHY list page
$discography-list-bg: #eee url(../images/backgrounds/example.jpg) no-repeat $background-bg-attachment $background-position;
$discography-list-mobile-bg: $default-mobile-bg;

// ALBUM node 
$album-node-bg: #453465 url(../images/backgrounds/example.jpg) no-repeat $background-bg-attachment $background-position;
$album-node-mobile-bg: $default-mobile-bg;

// ARTICLE teaser list 
$article-list-bg: $default-bg;
$article-list-mobile-bg: $default-mobile-bg;

// ARTICLE node
$article-node-bg: $default-bg;
$article-node-mobile-bg: $default-mobile-bg;

// ABOUT-BIO page bg
$bio-bg: $default-bg;
$bio-mobile-bg: $default-mobile-bg;

// LEGACY bg
$legacy-bg: $default-bg;
$legacy-mobile-bg: $default-mobile-bg;

// STORE bg
$store-bg: $default-bg;
$store-mobile-bg: $default-mobile-bg;

// TOUR bg
$tour-bg: $default-bg;
$tour-mobile-bg: $default-mobile-bg;




// ------------------------------------------
// Content area background
// ------------------------------------------

$content-bg: #fff url(../images/backgrounds/example.jpg) repeat scroll $background-position;
$content-bg-size: auto auto;
$content-bg-color: #fff;