// Main Site Colors

$primary-color: #9f070f; // magenta
$secondary-color: #d4d4c5; // beige

$product-light: #e4e4d5; // light beige same as border of product circle icon

$product-pcc-color: #23849b; // dark blue
$product-m2o-color: $primary-color;
$product-odp-color: #007a4a; // dark green

// for subtle changes to delineate container bg color in main content
$subtle-accent: rgba(0,0,0,0.05); 


// text over images
$image-text-title-color: #ddd;
$image-text-body-color: #ccc;


// Body Text
$text-color: #777;
$title-color: #333;

$page-title-color: #333;

$link-color: $primary-color;
$link-hover-color: #000;
$link-visited-color: #23849b;

$icon-color: $page-title-color;


// Selected text color
$selection-text-color: #fff;
$selection-background-color: $primary-color;



// Button styling
$button-text-color: #151515;
$button-text-hover-color: #fff;

$button-bg-color: transparent;
$button-bg-hover-color: $primary-color;

$button-border-color: #151515;
$button-border-hover-color: $primary-color;



// Borders
$border-color: #aaa;
$sidebar-border-color: #aaa;



// Tables 
$table-header-bg-color: #eee;
$table-odd-row-bg-color: #fff;
$table-even-row-bg-color: #f0f0f0;



// Navigation
$nav-text-color: #222;
$nav-text-hover-color: #777;

$nav-button-bg-color: transparent;
$nav-button-bg-hover-color: transparent;

$nav-bar-bg-color: #fff;

	// Sub-Navigation
	$subnav-text-color: #999;
	$subnav-text-hover-color: red;
	
	$subnav-bg-color: #000;
	$subnav-bg-hover-color: $primary-color;

	// mobile nav only
	$mobile-nav-text-color: #aaa;
	$mobile-nav-text-hover-color: #fff;
	$mobile-nav-bg-color: #000;
	$mobile-nav-bg-hover-color: #333; 
	
	
	// mobile nav toggle open 
	$mobile-nav-toggle-text-color: #fff;
	// mobile nav close button
	$mobile-nav-close-text-color: #fff;
	$mobile-nav-close-btn-bg: $primary-color;
	
	// mobile subnav
	$mobile-subnav-text-color: #444;
	$mobile-subnav-bg-color: #ccc;
	
	// mobile borders
	$mobile-nav-border-color: #444;
	
	// Home page non-mobile
	$home-nav-text-color: #fff;
	$home-nav-text-hover-color: #fff;



// User Bar
$userbar-bg-color: #444;

$userbar-text-color: #ccc; // text only

$userbar-link-color: #fff; // text link
$userbar-link-hover-color: orange;

$userbar-icon-color: #fff; // icon only
$userbar-icon-hover-color: #fff;

$userbar-icon-bg-color: #000;
$userbar-icon-bg-hover-color: red;

	// Login Block
	$login-dropdown-bg-color: #000;
	$login-dropdown-text-color: #555;
	
		// Login button
		$login-button-text-color: #fff;
		$login-button-text-hover-color: #fff;
		
		$login-button-bg-color: transparent;
		$login-button-bg-hover-color: orange;
		
	// mobile site name
	$site-name-text-color: #000;




// Sidebar blocks
$sidebar-block-bg-color: transparent;

$sidebar-text-color: $text-color;

$sidebar-link-color: $link-color;
$sidebar-link-hover-color: $link-hover-color;
	
	// block title
	$sidebar-block-title-color: $title-color;
	$sidebar-block-title-bg-color: transparent;

	// buttons
	$sidebar-button-text-color: $button-text-color;
	$sidebar-button-text-hover-color: $button-text-hover-color;
	
	$sidebar-button-bg-color: $button-bg-color;
	$sidebar-button-bg-hover-color: $button-bg-hover-color;
	
	// more link
	$sidebar-more-link-text-color: #000;
	$sidebar-more-link-text-hover-color: #fff;
	
	$sidebar-more-link-bg-color: #fff;
	$sidebar-more-link-bg-hover-color: $primary-color;




// Footer
$footer-text-color: #777;

$footer-link-color: $primary-color;
$footer-link-hover-color: #000;

$footer-bg-color: #fff;



// Social icons
$social-icon-color: #aaa;
$social-icon-hover-color: $primary-color;

$social-icon-bg-color: transparent;
$social-icon-bg-hover-color: transparent;

$social-icon-border-color: transparent;



// Messages
$messages-background-color: #A3E3F8;



// Dateblock
$dateblock-day-color: #999;
$dateblock-month-color: #fff;
$dateblock-year-color: #999;

$dateblock-text-hover-color: #fff;

$dateblock-bg-color: #000;
$dateblock-bg-hover-color: #000;



