

// height of header element
// used for content section clearing fixed top pos items

$header-height-small: 100px;
$header-height-medium: 150px;
$header-height-large: 180px;
$header-height-xlarge: 180px;
