/*-------------------------------------------------
---------------------------------------------------

 Footer - Layout
 
---------------------------------------------------
-------------------------------------------------*/


// footer outer wrapper
.l-footer-wrapper {
	background-color: $footer-bg-color;
	@include clearfix;
}

// footer inner wrapper
.footer-inner {
	padding: $vert-spacing-unit 0;
	@include clearfix;
	color: $footer-text-color;
	
	& a {
		color: $footer-link-color;
	}
	
	& a:hover {
		color: $footer-link-hover-color;
	}
}


@include breakpoint($small-only) {
	// footer links, copyright, icons
	.block--fantorrent-base-footer-message {
		margin-bottom: $vert-spacing-unit/2; // vert-spacing variable setting divided by 2
	}
}

@include breakpoint($medium-up) {

	.l-region-footer {
		@include add-grid(6);
		@include add-gutter(1/2);
	}
	// footer links, copyright, icons	
	.block--fantorrent-base-footer-message {
		@include grid-span(3, 1);
		@include font-size(14px);
	}
	// social icons
	.block--social-icons {
		@include grid-span(3, 4);
	}
	#social-icons {
		float: right;
	}
}

/*-----------------------------------

 Copyright, links, privacy, logos 
 
------------------------------------*/

.block--fantorrent-base-footer-message {
	@include font-size(13px);
	overflow: hidden;
	
	& .privacy-footer a {
		margin-right: 7px;
		padding-right: 7px;
		border-right: 1px solid #999;
	}
	
	& .footer-logos {
		margin-bottom: 10px;
		overflow: hidden;
	}
	
	& .copyright {
		margin-bottom: 10px;
		overflow: hidden;
	}
}

/* Idea Den Logos */

.footer-logos a {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: transparent;
	float: left;
	height: 0;
	overflow: hidden;
	display: block;
	@include opacity(0.5);
	margin-right: 10px;
	
	&.ideaden-logo {
		background-image: url("../images/ideaden-light.svg");
		padding-top: 30px;
		width: 80px;
	}
	
	&.merchden-logo {
		background-image: url("../images/merchden-light.svg");
		background-size: 45px 38px;
		padding-top: 40px;
		width: 45px;
	}
	
	&:hover {
		@include opacity(1);
	}
}
