/*-------------------------------
 
 Social Icons
 
--------------------------------*/

#social-icons ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
	
	& li {
		margin: 0 7px 7px 0;
		padding: 0;
		float: left;
		list-style-type: none;
		border: 0;
	}
	
	& li:last-child {
		margin-right: 0;
	}
}
#social-icons a {
	margin: 0;
	padding: 50px 20px 0;
	width: 50px;
	border-radius: 25px;
	display: block;
	height: 0;
	overflow: hidden;
	position: relative;
	color: $social-icon-color;
	background-color: $social-icon-bg-color;
	
	// hover state
	&:hover {
		color: $social-icon-hover-color;
		background-color: $social-icon-bg-hover-color;
	}
	
	// icons
	&:before {
		position: absolute;
		top: 10px;
		left: 10px;
		font-family: $socialicons;
		font-size: 31px;
		line-height: 31px;
		speak: none;
	}
}

// specific icons
#social-icons ul li#facebook a:before {
	content: "Q";
}
#social-icons ul li#twitter a:before {
	content: "\30";
}
#social-icons ul li#youtube a:before {
	content: "\4b";
}
#social-icons ul li#itunes a:before {
	content: "\4f";
}
#social-icons ul li#myspace a:before {
	content:"\26";
}
#social-icons ul li#email a:before {
	font-family: $basicicons;
	content:"\6f";
	font-size: 29px;
	line-height: 30px;
}
