/*-----------------------------------

 Views Popup  
 
-----------------------------------*/

.views-popup, #views-popup-wrapper {
	z-index: 1; /* sets above FB and social links */
}

/*-----------------------------------

 Views Popup Close button 
 
-----------------------------------*/

a.views-popup-close {
	border: 0;
	cursor: pointer;
	height: 0;
	padding-top: 28px;
	position: absolute;
	right: 3px;
	top: 1px;
	width: 25px;
	overflow: hidden;
	background-image: none;
	color: #999;
}
a.views-popup-close:hover {
	color: #ccc;
}
.views-popup-close:before {
	content: "\7e"; /* close icon */
	display: block;
	font-family: $basicicons;
	font-size: 22px;
	height: 24px;
	width: 27px;
	left: 1px;
	line-height: 30px;
	position: absolute;
	top: 0;
	speak: none;
}