/*====================================!!! SIDEBAR !!!=========================================*/


/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 LEGACY - Sidebar Slideshow list - BLOCK
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

.view-legacy-shows-slideshow {
	color: $sidebar-text-color;
}
.view-legacy-shows-slideshow .views-field-field-images-2 {
	width: 100%;
	padding: 10px 0;
	background-color: rgba(0,0,0,0.2);
	@include border-all($border-color);
}
.view-legacy-shows-slideshow .views-field-field-images-2 img {
	border: 0;
	margin: 0 auto;
}

/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 RECENT SHOWS - LEGACY SIDEBAR BLOCK 

-----------------------------------------------------------------------
---------------------------------------------------------------------*/

.block-recent-legacy-sidebar-block {
	padding-bottom: 20px;
}

/*---------------------------------------

 single legacy date with image 
 
----------------------------------------*/

.block-recent-legacy-sidebar-block .block-main-content .view-content {
	padding-bottom: 0;
}

/*--------------------------------------

 legacy dates list views attachment 
 
---------------------------------------*/

.view-recent-legacy-sidebar .attachment_1-main-content .views-row {
	padding: 5px 0;
	@include border-bottom($border-color);
}
.view-recent-legacy-sidebar .views-field-field-date-hour {
	display: inline-block;
	margin-right: 10px;
}
.view-recent-legacy-sidebar .views-field-field-address {
	display: inline-block;
}


/*-------------------------------------

 IMAGES 
 
-------------------------------------*/

.block-recent-legacy-sidebar-block .views-field-field-image {
	margin-bottom: 10px;
}

