/*---------------------------------------------------------
-----------------------------------------------------------

 General LINK styles
 
-----------------------------------------------------------
----------------------------------------------------------*/

// these link styles were placed here because it has to load 
// before .button styles - due to sass globbing and no control  
// over stylesheet loading order - for button styles to work. 

a,
a:link,
a:visited,
li a.active {
	@include transition(all, 0.2s, ease-in);
	color: $link-color;
	text-decoration: none;
	
	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}


/*---------------------------------------------------------
-----------------------------------------------------------

 BUTTON styles
 
-----------------------------------------------------------
----------------------------------------------------------*/

/*-------------------------------------

 Button normal state
 
-------------------------------------*/

.button a,
a.button,
button, 
input[type="reset"], 
input[type="submit"], 
input[type="button"] {
	@include button;
	
	&:hover {
		@include button-hover;
	}
}


/*---------- Form buttons (Override button styles) ----------*/
button, 
input[type="reset"], 
input[type="submit"], 
input[type="button"] {
	border: 0;
}


/* Exceptions to <a> css animation */
#colorbox button {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

// override drupal default active state
li .button a.active {
	color: $button-text-color; 
}
