//----------------------------------------------
//
//	FORMS - general styles for forms
//
//	location: 
//      /sass/base/_forms.scss
//
//----------------------------------------------


input.focus {
	color: #F8F4CA;
}
.image-widget-data input.form-file {
	margin-right: 10px;
}
.form-item label, 
.form-actions label {
	font-weight: normal;
	font-size: 18px;
}
label.option {
	vertical-align: middle;
}
input[type="checkbox"] {
	cursor: pointer;
}
input[type="text"],
input.form-text {
	max-width: 100%;
	padding: 10px;
}

input[type="file"] {
    margin: 15px 0px 0px;
}


// file upload container
.form-managed-file {
    border: 1px solid $border-color;
    padding: 20px;
    margin: 0 0 10px 0;
}


// Submit Button
.webform-client-form input.form-submit {
    background-color: transparent;
    @include border-all($border-color);
    @include border-radius($border-radius);
    padding: 10px 30px 8px;
    margin: 15px 0;
    display: block;
    font-weight: 100;
    width: 100%;
    color: #000;
    
    @include breakpoint($medium-up) {
	    width: auto;
    }
    
    &:hover {
	    background-color: $primary-color;
	    border-color: $primary-color;
	    color: #fff;
    }
}

.contact-button-wrapper a {
	padding: 14px 5px 12px;
	background-color: $primary-color;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin-bottom: 15px;
	
	@include breakpoint($large-up) {
		width: 48%;
		display: inline-block;
		margin-bottom: 0;
		
		&:nth-of-type(1) {
			margin-right: 4%;
		}
	}
	
	&:hover {
		color: #fff;
		background-color: $secondary-color;
		text-decoration: none;
	}
}
