input.focus {
	color: #F8F4CA;
}
.image-widget-data input.form-file {
	margin-right: 10px;
}
label.option {
	vertical-align: middle;
}
input[type="checkbox"] {
	cursor: pointer;
}
input[type="text"],
input.form-text {
	max-width: 100%;
}