/*====================================!!! SIDEBAR !!!=========================================*/


/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 ARTICLES SIDEBAR 
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

/*-------------------------------

 NEWS - sidebar list
 
-------------------------------*/

.block--views-articles-sidebar-list {
	.image {
		float: left;
		margin-right: 15px;
		width: 60px;
	}
	.title {
		margin-left: 75px;
		@include font-size(13px);
	}
	.views-row-last {
		border-bottom: 0; 
	}
}


/*-------------------------------

 VIDEOS sidebar grid - (sidebar, song node) 
 
--------------------------------*/

.block--views-articles-videos {
	.videos-main-content  { 
		overflow:hidden;
	}
	.teaser-grid-row a {
		display: block;
	}
	.views-row-even {
		margin-right: 0;
	}
}


/*--------------------------------

 RECENT ARTICLES - Sidebar list
 
---------------------------------*/

.block--views-articles-recent {
	.field-title {
		display: block;
	}
	.field-date {
		@include font-size(13px);
		font-style: italic;
	}
}