//------------------------------------------------------
//
//	VARIABLES - BUTTONS - variables to define button attributes
//
//	location: 
//      /sass/variables/_variables-buttons.scss
//
//------------------------------------------------------


// button variables

$button-padding: 10px 20px;
$button-border-radius: 0px;
$button-text-transform: uppercase;
$button-border-width: 1px;