/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 DISCOGRAPHY - Teaser List
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

/*--------------------------------------------

 LAYOUT: for bg image show-through behind popups
 
---------------------------------------------*/

@include breakpoint($small-only) {
	.page-music-albums .album-info-container {
		width: 100%;
		margin-bottom: 15px;
		float: none;
	}
}

@include breakpoint($large-up) {

	// Page title
	.page-music-albums h1#page-title {
		background: $content-bg;
		background-size: $content-bg-size;
		margin: 0;
		padding: 3% 3% 20px;
		width: 61%;
		border-bottom: 0;
	}
	// Page sub navagation
	.page-music-albums .l-content .menu-block-wrapper {
		background: $content-bg;
		background-size: $content-bg-size;
		border: 0 none;
		margin-bottom: 0;
		overflow: hidden;
		padding: 0 3% $vert-spacing-unit;
		width: 61%;
		
		ul.menu {
			@include border-top-bottom($border-color);
			margin: 0;
			overflow: hidden;
			padding: $vert-spacing-unit/1.5 0;
		}
	}
	// content wrapper 
	.page-music-albums .page-main-content {
		background: $content-bg;
		background-size: $content-bg-size;
		padding: 3%;
		width: 61%;
	}
	// track popup
	.page-music-albums .views-popup-container .views-popup {
		width: 73%;  /* is a % of the width of .page-main-content */
	}
	
	// top row container
	.album-node-teaser .node-middle-row1-container {
		@include add-grid(10);
		@include add-gutter(1/3);
	}
	// album info container
	.page-music-albums .album-info-container {
		@include grid-span(4, 1);
	}
	// song list container
	.page-music-albums .song-list-container {
		@include grid-span(6, 5);
	}
}



// Album title 
.page-music-albums h2.album-teaser-title {
	margin-bottom: $vert-spacing-unit;
	@include font-size(30px);
	line-height: 1;
}

/*-------------------------------------------------

 List items - albums (not tracks) 
 
--------------------------------------------------*/

.page-music-albums .view-discography .view-content ul {
	margin: 0;
	padding: 0;
	
	> li {
		@include border-bottom($border-color);
		margin: 0;
		list-style-type: none;
		padding: 20px 0;
	}
	
	li.views-row-last.teaser-list-row {
		border: 0;
	}
	
	li.teaser-list-row:first-child {
		padding-top: 0;
	}
}


/*-------------------------------------------------

 ALBUM INFO section - art, date, buy buttons 
 
-------------------------------------------------*/

.page-music-albums .album-art-container {
	margin-bottom: 20px;
	padding: 0; /* add padding & border for Polaroid look */
	border: 0;
}

/*----------------------------
 album more info link 
 (overrides .button styling) 
-----------------------------*/

.album-more-link {

	@include breakpoint($small-only) {
		display: none;
	}
	a {
		background: none;
		@include font-size(12px);
		line-height: 100%;
		padding: 5px;
		text-shadow: none;
		text-align: center;
		@include border-all($border-color);
		@include border-radius(0);
		color: $text-color;
	}
	a:hover {
		background: #000;
		color: #fff;
		border-color: #000;
	}
	// icon
	a:before {
		@include border-radius(10px);
		content: "%";
		font-family: $basicicons;
		@include font-size(11px);
		line-height: 15px;
		margin-right: 5px;
		padding: 3px;
		@include border-all($border-color);
	}
}

/*----------------------------
 release date & label 
------------------------------*/

.release-date-and-label-container {
	margin-bottom: 20px;
	@include font-size(12px);
}


/*-----------------------------------------

 TRACK LIST 

------------------------------------------*/

// hide block title
.page-music-albums .song-list-container h2.block-title {
	display: none;
}

// List
.album_tracks-main-content ol li {
	overflow: visible;
	list-style-type: decimal; /* remove if custom styling <ol> */
	padding: 8px 0px;
	width: auto;
	@include border-bottom($border-color);
	
	&.views-row-first {
		padding-top: 0;
	}
	
	&.views-row-last {
		border-bottom: 0;
	}
}

// track title
.album_tracks-main-content .song-list-title {
	display: inline-block;
	vertical-align: top;
	width: 75%;
}

// popup link
.album_tracks-main-content .song-popup-link {
	float: right;
}



/*------------------------------------------

 Alternate text for tracks 
 
------------------------------------------*/

.album_tracks-main-content .field-content.alternate, /* teaser list */
.album_tracks_media-main-content .field-content.alternate /* node */{
	display: block;
	@include font-size(14px);
	font-style: italic;
	line-height: 1;
	margin-left: 0; /* Set this to ~ 45px if using custom <ol> styling css */
}
.album_tracks_media-main-content .field-content.alternate /* node */ {
	margin-left: 0;
}

/*-----------------------------
 "Bonus Tracks" - Legend 
 (inserted before tracklist)
 
 Add .page-node-[number] to the selector to limit to only albums 
 with bonus tracks so albums without bonus tracks won't have the legend. 
    
	EXAMPLE:
	
	.page-node-214 .album_tracks_media-main-content:before {
		display: block;
		margin-bottom: 10px;
		font-size: 0.938em;
		content:"* = Bonus Tracks";
		font-style: italic;
	}

-------------------------------*/

.page-node-REPLACEME .album_tracks_media-main-content:before,
.page-node-REPLACEME .album_tracks_media-main-content:before, {
	display: block;
	margin-bottom: 10px;
	@include font-size(15px);
	content:"* = Bonus Tracks";
	font-style: italic;
}

/*-----------------------------
 BONUS tracks styling 
-------------------------------*/

.album_tracks-media-main-content li .bonus-track h6 > span:first-child:after, /* node */
.album_tracks-main-content li.views-row .bonus-track a:after /* teaser */{
   content:"*";
   color: red;
   margin-left: 5px;
   text-decoration: none;
}
.album_tracks-media-main-content li .bonus-track h6 > span:first-child:hover:after,
.album_tracks-main-content li.views-row .bonus-track a:hover:after {
	text-decoration: none;
}


/*----------------------------------------

 SONG POPUP TRIGGER link 
 
----------------------------------------*/

.song-popup-link a {
	@include border-radius(3px);
	color: $popup-link-icon-color;
	display: block;
	float: right;
	@include font-size(18px);
	height: 0;
	overflow: hidden;
	padding: 28px 9px 0px;
	position: relative;
	text-align: center;
	top: -2px;
	width: 55px;
}
.song-popup-link a:hover {
	text-decoration: none;
	color: $popup-link-icon-hover-color;
	background-color: $popup-link-bg-hover-color;
}
.song-popup-link a:before {
	content: "_t";
	font-family: $basicicons;
	left: 5px;
	letter-spacing: 9px;
	position: absolute;
	top: 5px;
}
.song-popup-lyrics {
	@include font-size(13px);
}

/*---------------------------------------- 

 POPUP WINDOW - song lyrics and player 

----------------------------------------*/

.page-music-albums .views-popup-container .views-popup {
	padding: 0; /*overwrites ".teaser-list .views-row" general style */
	color: $popup-text-color;
}
.song-popup-title-and-player-container,
.song-popup-lyrics,
.song-popup-more-link {
	background-color: $popup-bg-color;
	padding: 0 20px;
	margin-left: 14px;
	
	// offset based on teaser list edge (padding %)
	@include breakpoint($large-only) {
		margin-left: 14px;
	}
	@include breakpoint($xlarge-only) {
		margin-left: 20px;
	}
	@include breakpoint($xxlarge-up) {
		margin-left: 34px;
	}
}
.song-popup-title-and-player-container {
	@include border-radius(0 10px 0 0);
}

// css3 arrow
.song-popup-title-and-player-container:before {
	border-bottom: 14px solid transparent;
	border-right: 14px solid $popup-bg-color;
	border-top: 14px solid transparent;
	content: " ";
	display: block;
	height: 0;
	left: 0px;
	position: absolute;
	top: 20px;
	width: 0;
	
	// offset based on teaser list edge (padding %)
	@include breakpoint($large-only) {
		left: 0px;
	}
	@include breakpoint($xlarge-only) {
		left: 6px;
	}
	@include breakpoint($xxlarge-up) {
		left: 20px;
	}
}

// Buy Now Button
.song-popup-title-and-player-container .song-buy-link.button {
	position: absolute;
	right: 35px;
	top: 12px;
	
	> a {
		@include font-size(12px);
		padding: 4px 8px 2px;
		background-color: $popup-button-bg-color;
		color: $popup-button-text-color;
		@include border-all($popup-button-border-color);
	}
	
	> a:hover {
		background-color: $popup-button-bg-hover-color;
		color: $popup-button-text-hover-color;
	}
}

// Song Title
.page-music-albums .song-popup-title-and-player-container h6 {
	margin-bottom: 0;
	color: $popup-title-color;
	@include font-size(24px);
	line-height: 1;
}

/*--------------------------
 Lyrics 
---------------------------*/

.song-popup-lyrics {
	padding: 20px 20px 10px 20px;
	
	// lyrics - hidden state
	.item-hide { 
		margin-bottom: 20px;
	}
}

/*------------------------------------
 show MORE/LESS lyrics link 
-------------------------------------*/

.song-popup-lyrics a.show-link { 
	margin: 0;
	padding: 8px 10px 7px;
	left: 0;
	width: auto;
	color: $popup-button-text-color;
	background-color: $popup-button-bg-color;
	@include border-radius(3px);
	@include border-all($popup-button-border-color);
	text-transform: capitalize;
	
	&:hover {
		background-color: $popup-button-bg-hover-color;
		border-color: $popup-button-bg-hover-color;
		color: $popup-button-text-hover-color;
	}
	
	// Show less
	&.show-processed:before, 
	.show-processed:after {
		top: 0;
	}
}

/*---------------------------------------- 
 VIEW TRACK INFO - link to node 
------------------------------------------*/

.song-popup-more-link {
	padding-bottom: 20px;
	@include border-radius(0 0 10px 0px);
	@include font-size(13px);
	text-transform: capitalize;
}

/* view track info link */
.song-popup-more-link.button a {
	color: $popup-button-text-color;
	background-color: $popup-button-bg-color;
	@include border-radius(3px);
	@include border-all($popup-button-border-color);
	
	&:hover {
		background-color: $popup-button-bg-hover-color;
		border-color: $popup-button-bg-hover-color;
		color: $popup-button-text-hover-color;
	}
	
	// icon
	&:before {
		@include border-all($popup-button-text-color);
		@include border-radius(10px);
		content: "%";
		font-family: $basicicons;
		@include font-size(11px);
		margin-right: 5px;
		padding: 3px;
	}

	&:hover:before {
		border-color: $popup-button-text-hover-color;
	}
}
