/*---------------------------------------------------------

 HEADER ROW 1 - node title, entity pager 
 
----------------------------------------------------------*/

/* album node header - overrides .node-row-container */

#album-header-row-container {
	padding-bottom: 0;
	border: 0;
}

/*---------------------------------------------------------

 MIDDLE ROW 1 - album art, info description, buy links 
 
----------------------------------------------------------*/

/* Layout */
@include breakpoint($small-only) {
	.node-type-album #album-art-container {
		width: 100%;
		margin-bottom: 15px;
		float: none;
	}
}

@include breakpoint($medium-up) {
	.album-node-full .node-middle-row1-container {
		@include add-grid(9);
		@include add-gutter(1/2);
	}
	
	.node-type-album .album-info-container {
		@include grid-span(3,1);
	}
	.node-type-album .song-list-container {
		@include grid-span(6,4);
	}
}

@include breakpoint($xlarge-up) {
	.album-node-full .node-middle-row1-container {
		//@include add-gutter(1/2);
	}
}


/*-----------------------------
 Album Art container
------------------------------*/

.node-type-album .album-art-container .first-item,
.node-type-album .album-art-container .not-first-item {
	margin-bottom: 4%;
	@include border-all($border-color);
	//@include transition-all;
	
	&:hover {
		border-color: #000;
	}
}

/*--------------------------------
 Additional album art thumbnails 
-----------------------------------*/

.node-type-album .album-art-container .not-first-items-container {
	@include add-grid(4);
	@include add-gutter(1/2);
	margin-bottom: 4%;
	overflow: hidden;
	
	.not-first-item {
		float: left;
		margin: 0 4% 4% 0;
		width: 22%;
	}
	// kills margin every 4th item
	.not-first-item:nth-child(4n+4) {
		margin-right: 0;
	}

}

/*------------------------
 TRACK LIST 
-------------------------*/

.node-type-album .song-list-container {
	@include border-bottom($border-color);
	padding-bottom: $vert-spacing-unit;
	
	@include breakpoint($medium-up) {
		border-bottom: 0;
		margin-bottom: 0;
	}
	
	ol li {
		overflow: visible;
		list-style-type: decimal;
		padding: 10px 0;
		width: auto;
		clear: both;
		position: relative;
		@include border-bottom($border-color);
		@include font-size(18px);
	}

	ol li.views-row-last {
		border-bottom: 0;
	}

}
.node-type-album .song-title {
	width: 60%;
	
	// increase width when wider than mobile layout
	@include breakpoint($medium-up) {
		width: 65%;
	}
	
	h6 {
		margin-bottom: 0;
		font-weight: $base-font-weight;
		@include font-size(18px);
	}
	
	h6 span.alternate {
		display: block;
		@include font-size(13px);
	}
}
 
// ------ more link ------

.node-type-album .song-more-link {
	position: absolute;
	right: 55px;
	top: 13px;
	width: 33px;
	
	a {
		display: block;
		padding: 1px 2px 3px 2px;
		text-decoration: none;
		text-align: center;
		@include border-radius(3px);
		@include font-size(11px);
		line-height: 1.3;
	}
}
 
//------ Buy link -------

.node-type-album .song-buy-link.button {
	position: absolute;
	right: 56px;
	top: 13px;
	
	a {
		display: block;
		@include font-size(11px);
		line-height: 1.3;
		padding: 2px 7px;
		text-transform: lowercase;
		@include border-radius(3px);
		background: $button-bg-hover-color; /* needs to be different to set it apart from "more" */
		color: $button-text-hover-color;
	}

}
 
//------ mp3 player -----

.node-type-album .song-player {
	width: 50px;
	position: absolute;
	top: -3px;
	right: 0;
}

/*------------------------
 Album buy link - in house 
--------------------------*/

// album node uses ID, album teaser uses class
#album-buy-link-container {
	margin-bottom: 2%;
	
	a.button {
		text-transform: uppercase;
		padding: 15px 10px;
		@include font-size(20px);
	}

	a.button:before {
		content: "\003c";
		font-family: $basicicons;
		@include font-size(21px);
		line-height: 1.313;
		vertical-align: middle;
		speak: none;
		margin-right: 7px;
	}
}

/*----------------------- 
 offsite buy links 
------------------------*/

#album-offsite-purchase-links .field__item,
.album-offsite-purchase-links .field__item {
	@include font-size(12px);
	margin-bottom: 2%;
	
	@include breakpoint($large-up) {
		float: left;
		width: 49%;
		
		&.even {
			margin-right: 2%;
		}
	}
}

/*--------- Buy button icons ----------*/

#album-offsite-purchase-links a {
	color: $button-text-color;
}

#album-offsite-purchase-links a:before,
.album-offsite-purchase-links a:before {
	font-family: $socialicons;
	@include font-size(23px);
	margin: 0 5px 0 0;
	vertical-align: middle;
	display: inline-block;
	padding-top: 1px;
	text-transform: none; // because .button is set to uppercase and alters added content letter
}

/* iTunes */
#album-offsite-purchase-links .field__item:nth-child(1) a:before,
.album-offsite-purchase-links .field__item:nth-child(1) a:before {
	content: "\4f";
}

/* Amazon */
#album-offsite-purchase-links .field__item:nth-child(2) a:before,
.album-offsite-purchase-links .field__item:nth-child(2) a:before {
	content: "\4e";
}

/* Spotify */
#album-offsite-purchase-links .field__item:nth-child(3) a:before,
.album-offsite-purchase-links .field__item:nth-child(3) a:before {
	content: "\3f";
}


/*-------------------------------------------------------------------

 MIDDLE ROW 2 - Purchase Options
 
 // See _purchase-options.scss for content styles
 
-------------------------------------------------------------------*/

// Layout

@include breakpoint($large-up) {
	.node-type-album .node-middle-row2-container {
		@include add-grid(8);
		@include add-gutter(1);
	}
	// product details
	.node-type-album .field--type-commerce-product-reference {
		@include grid-span(3, 6);
	}
	// cart form
	.node-type-album .add-to-cart-details {
		@include grid-span(5, 1);
	}
}




/*-------------------------------------------------------------------

 MIDDLE ROW 3 - Album Info 

-----------------------------------------------------------------*/

/*----------------------------------
 ALBUM DETAILS - INFO 
----------------------------------*/

@include breakpoint($medium-up) {
	.album-details-container {
		border: none;
		padding: 0;
		width: 100%;
		
		p:last-child {
			margin-bottom: 0;
		}
	}
}

// Release date

.album-date-container {
	@include font-size(12px);
}
.album-date-container .field-label {
	margin-right: 5px;
	font-weight: bold;
}

// Record Label

.album-label-container {
	@include font-size(12px);
}

// Album Info body

.album-body-container {
	padding: 20px 0;
	clear: both;
	@include font-size(14px);
	
	@include breakpoint($large-up) {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		
		-webkit-column-gap: 3em;
		-moz-column-gap: 3em;
		column-gap: 3em;	
		
		-webkit-column-rule: 1px solid $border-color;
		-moz-column-rule: 1px solid $border-color;
		column-rule: 1px solid $border-color;
		
		clear: both; /* clears album date float if album label field isn't populated */
	}
}


/*-------------------------------------------------------------------

 MIDDLE ROW 4 - track list + reviews + discography + related products 

-----------------------------------------------------------------*/

.node-type-album .album-reviews-container,
#album-discography-view-container,
#album-store-view-container {
	@include border-bottom($border-color);
	padding: $vert-spacing-unit + 10 0;
}
#album-middle-row4-container,
#album-bottom-row-container {
	border: 0;
	padding-bottom: 0;
}
#album-bottom-row-container {
	padding: 0;
}

/*----------------------------------
 
 REVIEWS
  
-----------------------------------*/

.album-reviews-container ol {
	margin: 0;
	padding: 0;
}
.album-reviews-container ol li {
	list-style-type: none;
	margin: 0 0 $vert-spacing-unit/2 10%;
	padding: 0 0 $vert-spacing-unit/2;
	overflow: hidden;
	@include border-bottom($border-color);
	
	&.views-row-last {
		border-bottom: 0;
	}
}
.album-reviews-container .quote {
	display: block;
	padding: 15px 0 0 70px;
	@include font-size(14px);
	min-height: 37px;
	position: relative;
	
	&:before {
		content:"\43";
		font-family: $basicicons;
		font-size: 60px;
		color: #ddd;
		position: absolute;
		top: -5px;
		left: 0px;
	}
}

// Open Quotes icon
.album-review-quote-author,
.album-review-quote-source {
	padding-left: 70px;
	@include font-size(13px);
	font-style: italic;
}

// read more link
.album-review-more-link {
	text-align: right;
	
	&.button a {
		background: none;
		display: inline-block;
		@include font-size(15px);
		padding: 0;
		text-align: right;
		text-transform: lowercase;
		
		// icon
		&:after {
			font-family: $arrowicons;
			content: "\36";
			margin-left: 5px;
			position: relative;
			vertical-align: middle;
			top: -1px;
		}
	}
}