// ABOUT PAGE CSS

.section-about {
	p {
		font-size: 18px;
	}
	
	.story_header h2 {
		font-size: 45px;
		line-height: .8;
		text-align: center;
		margin: 0;
		
		span {
			display: block;
			text-transform: uppercase;
			font-size: 82px;
			color: $primary-color;
		}
		
		@include breakpoint($medium-only) {
			font-size: 70px;
			
			span {
				font-size: 130px;
			}
		}
		
		@include breakpoint($large-up) {	
			font-size: 120px;
			
			span {
				font-size: 214px;
			}
		}
	}
	.subtitle {
		text-align: center;
		font-style: italic;
		@include font-size(20px);
		margin-bottom: $vert-spacing-unit*2;
	}
	.tagline {
		font-weight: bold; 
		text-align: center;
		@include font-size(20px);
	}
	
	.section {
		padding: $vert-spacing-unit 0;
		border-bottom: 1px solid $border-color;
		margin-bottom: $vert-spacing-unit;
	}
	h3 {
		@include font-size(40px);
		line-height: 1;
		text-align: center;
	}
	
	blockquote {
		padding: 0 30px;
		margin: 0 8%;
		text-align: center;
		position: relative;
		
		p {
			@include font-size(20px);
		}
		
		@include breakpoint($large-up) {
			padding: 0 70px;
			
			p {
				@include font-size(28px);
			}
		}
		
		// open quotes icon
		&:before {
			content: "\43";
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			line-height: 1;
			font-family: $basicicons;
			width: 25px;
			@include font-size(25px);
			
			@include breakpoint($large-up) {
				@include font-size(60px);
				width: 60px;
			}
		}
		// close quotes icon
		&:after {
			content: "\44";
			display: inline-block;
			position: absolute;
			top: 30px;
			right: 0;
			line-height: 1;
			font-family: $basicicons;
			float: right;
			width: 25px;
			@include font-size(25px);
			
			@include breakpoint($large-up) {
				@include font-size(60px);
				width: 60px;
			}
		}
	}
}

// add CSS columns
.column-section {
	
	@include breakpoint($large-up){
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		
		-webkit-column-gap: 4em;
		-moz-column-gap: 4em;
		column-gap: 4em;
	}
	
	margin-bottom: $vert-spacing-unit*2;
}

//-----------------------------------
//
//    Employees block
//
//-----------------------------------

.block--views-employees-block-1 {
	margin-top: $vert-spacing-unit;
	padding-top: $vert-spacing-unit;
	@include border-top($border-color);	
	
	h2.block__title {
		font-size: 65px;
		text-transform: uppercase;
		text-align: center;
	}
	ul.teaser-grid {
		@include breakpoint($large-up) {
			.teaser-grid-row.views-row-1 {
				width: 30%;
			    float: left;
			    margin-right: -100%;
			    margin-left: 0px;
			    margin-bottom: $vert-spacing-unit;
			    clear: none;
			}
			.teaser-grid-row.views-row-2 {
			    width: 30%;
			    float: left;
			    margin-right: -100%;
			    margin-left: 35%;
			    margin-bottom: $vert-spacing-unit;
			    clear: none;
			}
			.teaser-grid-row.views-row-3 {
			    width: 30%;
			    float: right;
			    margin-left: 0px;
			    margin-right: 0px;
			    margin-bottom: $vert-spacing-unit;
			    clear: none;
			}
		}
	}
	.views-field-picture {
		margin-bottom: $vert-spacing-unit/2;
	}
	.user-name {
		font-family: $title-font-family;
		font-weight: $title-font-weight;
		line-height: $title-line-height;
		color: $title-color;
		@include font-size(30px);
	}
	.user-title {
		font-style: italic;
		margin-bottom: $vert-spacing-unit;
	}
}